<div class="presentation">
  <section class="media">
    <h3 class="media-heading">
      <%=translation.auth.presentation.title%>
    </h3>
    <span>
      <%=translation.auth.presentation.subtitle01%>
    </span>
    <p>
      <%=translation.auth.presentation.subtitle02%>
    </p>
    <footer>
      <a href="/sign_up/" class="btn btn-default sign_up">
        <%=translation.auth.presentation.signup_btn%>
      </a>
      <a href="http://fiware-idm.readthedocs.io/en/latest/customize/" class="btn btn-default"><%=translation.auth.presentation.docs_btn%></a>
    </footer>
  </section>
</div>

<script type="text/javascript" src="https://jira.fiware.org/s/4d99dfea096a41baa8a46feda6f85823-T/en_GBek2res/6346/29/1.4.16/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?locale=en-GB&amp;collectorId=a188b867"></script>
<script type="text/javascript">window.ATL_JQ_PAGE_PROPS =  {
  "triggerFunction": function(showCollectorDialog) {
    //Requires that jQuery is available!
    jQuery("#myCustomTrigger").click(function(e) {
      e.preventDefault();
      showCollectorDialog();
    });
  }};
</script>

<script>
  var confirm_help_box = function () {
    var r = confirm("The communications sent to the FIWARE Lab support list are public and they generate public tickets (including email addresses and names). Please avoid sending private info to them unless you are happy to see them publicly available.");
      if (r == true) {
          window.location = "mailto:fiware-lab-help@lists.fiware.org?Subject=FIWARE Lab Assistance";
    }
  }
</script>
