<div class="tfa">
<div class="container">
  <div class="card card-container">
    <div class="modal-header">
        <h3>To finish the sign in process: </h3>
    </div>
    <div >
      <span >
        <p>1. Open the Google Authenticator app in your phone.</p>
        <p>2. Scan the QR code or enter the secret key.</p>
        <p>3. Introduce below the provided token. </p>
        <p>In case you cant use the app, click de link below</p>
        <div class="actions">
            <a href="#">Pregunta de seguridad </a>
        </div>
        <img src=<%=qr%> alt="">
        <p>Secret Key - <%=secret%></p>
        <form id="" ng-controller="DummyCtrl" name="" autocomplete="on" class="" action="/auth/tfa_verify/" method="POST" enctype="">
            <input type='hidden' name='_csrf' value='<%= csrf_token%>' />
            <input type='hidden' name='secret' value='<%= secret%>' />
            <input type='hidden' name='user_id' value='<%=user.id%>' />

            <div class="modal-body clearfix">
                <div class="form-group ">
                    <label class="control-label" for="token">Token</label>
                    <div class=" ">
                        <input autofocus="autofocus" class="form-control" id="token" name="token" type="number" maxlength="6" autocomplete="off" placeholder="Enter de authorizatioon code" required/>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary pull-right"><%=translation.auth.login.loginin_btn%></button>

            </div>
        </form>
      </span>
    </div>
  </div>
</div>
</div>
