<div id="create_user_modal" class="modal fade" style="top: 0px;" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">×</a>
                <h3><%=translation.admin.create_user.title%></h3>
            </div>
            <form id="create_user_form" ng-controller="DummyCtrl" name="" autocomplete="" class="" action="/idm/admins/list_users/users" method="POST" enctype="">
                <input type='hidden' name='_csrf' value='<%= csrf_token%>' />
                <div class="modal-body clearfix">
                    <div class="left">
                        <fieldset>
                            <input id="id_userID" name="userID" type="hidden" value="">
                            <span id="passwordDifferent" class="help-block alert alert-danger" style="display: none;"><%=translation.admin.create_user.alert01%></span>
                            <span id="emailUsed" class="help-block alert alert-danger" style="display: none;"><%=translation.admin.create_user.alert02%></span>
                            <span id="emailInvalid" class="help-block alert alert-danger" style="display: none;"><%=translation.admin.create_user.alert03%></span>
                            <div class="form-group required">
                                <label class="control-label  required" for="id_username"><%=translation.admin.create_user.label01%></label>
                                <div class="">
                                    <input class="form-control" id="id_username" maxlength="64" name="username" type="text" value="">
                                </div>
                            </div>
                            <span id="username" style="display: none;" class="help-block alert alert-danger "><%=translation.admin.create_user.required_field%></span>
                            <div class="form-group required">
                                <label class="control-label  required" for="id_email"><%=translation.admin.create_user.label02%></label>
                                <div class="">
                                    <input class="form-control" id="id_email" maxlength="64" name="email" type="email" value="">
                                </div>
                            </div>
                            <span id="email" style="display: none;" class="help-block alert alert-danger "><%=translation.admin.create_user.required_field%></span>
                            <div class="form-group has-feedback">
                                <label class="control-label" for="id_password1">
                                    <%=translation.admin.create_user.label03%>
                                </label>
                                <div class="">
                                    <input class="form-control" id="id_password1" name="password1" type="password" />
                                    <span class="form-control-feedback fa fa-eye"></span>
                                </div>
                            </div>
                            <span id="password1" style="display: none;" class="help-block alert alert-danger "><%=translation.admin.create_user.required_field%></span>
                            <div class="form-group has-feedback">
                                <label class="control-label" for="id_password2"><%=translation.admin.create_user.label04%></label>
                                <div class="">
                                    <input class="form-control" id="id_password2" name="password2" type="password" />
                                    <span class="form-control-feedback fa fa-eye"></span>
                                </div>
                            </div>
                            <span id="password2" style="display: none;" class="help-block alert alert-danger "><%=translation.admin.create_user.required_field%></span>
                            <div class="form-group">
                                <label class="control-label" for="id_description"><%=translation.admin.create_user.label05%></label>
                                <div class="">
                                    <textarea class="form-control" cols="40" id="id_description" name="description" value="" rows="4" style="overflow: hidden; word-wrap: break-word; height: 150px;"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="id_website"><%=translation.admin.create_user.label06%></label>
                                <div class="">
                                    <input class="form-control" id="id_website" name="website" type="url" value="">
                                </div>
                            </div>
                            <div class="form-group required">
                                <label class="control-label required" for="id_send_email">
                                    <a href="#" class="contextual-help" data-toggle="popover" data-placement="left" data-title="<%=translation.admin.create_user.popover_title%>" data-content="<%=translation.admin.create_user.popover_body%>" data-original-title="" title="">
                                        <i class="fa fa-question-circle"></i>
                                    </a>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="id_send_email" name="send_email" value="send_email"><%=translation.admin.create_user.label07%> 
                                        </label>
                                    </div>
                                </label>
                            </div>
                            <div class="form-group required">
                                <label class="control-label required" for="id_enabled">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="id_enabled" name="enable" value="enable"><%=translation.admin.create_user.label08%> 
                                        </label>
                                    </div>
                                </label>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="modal-footer">
                    <input class="btn btn-primary pull-right " type="submit" name="submit_permissions" value="<%=translation.admin.create_user.create_btn%>">
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('[data-toggle="popover"]').popover({html:true});
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>