<div id="delete_user_modal" class="modal fade" style="top: 0px;" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">×</a>
                <h3><h3><%=translation.admin.delete_user.title%></h3></h3>
            </div>
            <form id="delete_user_form" ng-controller="DummyCtrl" name="" autocomplete="" class="" action="/idm/admins/list_users/users" method="POST" enctype="">
                <input type='hidden' name='_csrf' value='<%= csrf_token%>' />
                <div class="modal-body clearfix">
                    <div class="right">
                        <p><%=translation.admin.delete_user.content01%></p>
                        <ul id="list_users"></ul>
                        <p><%=translation.admin.delete_user.content02%></p>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary" value="<%=translation.admin.delete_user.confirm_input%>">
                    <button data-dismiss="modal" class="btn btn-default secondary cancel"><%=translation.admin.delete_user.cancel_btn%></button>
                </div>
            </form>
        </div>
    </div>
</div>