<div id="edit_user_modal" class="modal fade" style="top: 0px;" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">×</a>
                <h3><%=translation.admin.edit_user.title%></h3>
            </div>
            <form id="edit_user_form" ng-controller="DummyCtrl" name="" autocomplete="" class="" action="" method="POST" enctype="">
                <input type='hidden' name='_csrf' value='<%= csrf_token%>' />
                <div class="modal-body clearfix">
                    <div class="left">
                        <fieldset>
                            <input id="id_userID" name="userID" type="hidden" value="">
                            <span id="emailUsed" class="help-block alert alert-danger" style="display: none;"><%=translation.admin.edit_user.alert01%></span>
                            <span id="emailInvalid" class="help-block alert alert-danger" style="display: none;"><%=translation.admin.edit_user.alert02%></span>
                            <div class="form-group required">
                                <label class="control-label  required" for="id_username"><%=translation.admin.edit_user.label01%></label>
                                <div class="">
                                    <input class="form-control" id="id_username" maxlength="64" name="user[username]" type="text" value="">
                                </div>
                            </div>
                            <span id="username" style="display: none;" class="help-block alert alert-danger "><%=translation.admin.edit_user.required_field%></span>
                            <div class="form-group required">
                                <label class="control-label  required" for="id_email"><%=translation.admin.edit_user.label02%></label>
                                <div class="">
                                    <input class="form-control" id="id_email" maxlength="64" name="user[email]" type="text" value="">
                                </div>
                            </div>
                            <span id="email" style="display: none;" class="help-block alert alert-danger "><%=translation.admin.edit_user.required_field%></span>
                            <div class="form-group">
                                <label class="control-label" for="id_description"><%=translation.admin.edit_user.label03%></label>
                                <div class="">
                                    <textarea class="form-control" cols="40" id="id_description" name="user[description]" value="" rows="4" style="overflow: hidden; word-wrap: break-word; height: 150px;">
                                    </textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="id_website"><%=translation.admin.edit_user.label04%></label>
                                <div class="">
                                    <input class="form-control" id="id_website" name="user[website]" type="url" value="">
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="modal-footer">
                    <input class="btn btn-primary pull-right " type="submit" name="submit_permissions" value="<%=translation.admin.edit_user.save_btn%>">
                </div>
            </form>
        </div>
    </div>
</div>