<div id="content_body">
    <div class="page-header">
        <h2>
            <%=translation.admin.administrators.title%>
        </h2>
    </div>
    <div id="administrators-page">
        <div class="panel panel-default datatable" id="auth_admins" data-pagination-url="/filters/users" data-application_id="idm_admin_app" data-pagination-pages="">
            <div class="panel-heading">
                <span class="title"><%=translation.admin.administrators.panel_title%></span>
                <div class="table_actions clearfix">
                    <div class="filter table_search client">
                        <input class="form-control" value="" type="text" name="members__filter__q" placeholder="Filter">
                    </div>
                    <div id="spinner_admins" class="filtering-spinner-inline" style="display: none;"><i class="fa fa-circle-o-notch fa-spin"></i></div>
                    <div class="btn-group"> 
                        <button title="Authorize" class="btn btn-default btn-sm ajax-modal" id="members__action_manage_administrators" data-toggle="modal" data-target="#authorize_user">
                            <i class="fa fa-key"></i> 
                            <span class="action">
                                <%=translation.admin.administrators.authorize_btn%>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="panel-body datatable-content">
                <div class="list-group" id="admins_content">
                    <p class="alert alert-info empty" style="display: none;"><%=translation.admin.administrators.alert01%></p>
                </div>
            </div>
            <div class="panel-footer">
                <nav id="auth_admins_pagination_container"></nav>
            </div>
        </div>
    </div>
</div>

<%- include _authorize_administrators %>
<%- include ../templates/./users/./_available_user_row %>
<%- include ../templates/./users/./_user_row %>
<%- include ../templates/./admin/./_set_admin_row %>

<script src="/javascripts/users/search_available_users.js" type="text/javascript"></script>
<script src="/javascripts/admin/handle_authorize_administrators.js" type="text/javascript"></script>
<script src="/javascripts/admin/handle_get_administrators.js" type="text/javascript"></script>