<div id="content_body">
    <div id="notify" class="static_page">
        <div class="modal-header">
            <h3>
                <div class="page-header">
                    <h2>
                        <%=translation.admin.notify.title%>
                    </h2>
                </div>
            </h3>
        </div>
        <form id="send_message_form" ng-controller="DummyCtrl" name="" autocomplete="" class="ng-scope ng-pristine ng-valid" action="/idm/admins/notify" method="POST" enctype="">
            <input type='hidden' name='_csrf' value='<%= csrf_token%>' />
            <div class="modal-body clearfix">
                <fieldset>
                    <div class="form-group required">
                        <label class="control-label  required" for="id_notify"><%=translation.admin.notify.label01%></label>
                        <div class=" ">
                            <select class="form-control" id="id_notify" name="notify">
                                <% if (errors.option === 'all-users') { -%>
                                    <option value="all_users" selected><%=translation.admin.notify.option01%></option>
                                    <option value="organization"><%=translation.admin.notify.option02%></option>
                                    <option value="users_by_id"><%=translation.admin.notify.option03%></option>
                                <% } else if (errors.option === 'organization') { -%>
                                    <option value="all_users"><%=translation.admin.notify.option01%></option>
                                    <option value="organization" selected><%=translation.admin.notify.option02%></option>
                                    <option value="users_by_id"><%=translation.admin.notify.option03%></option>
                                <% } else if (errors.option === 'users_by_id') { -%>
                                    <option value="all_users"><%=translation.admin.notify.option01%></option>
                                    <option value="organization"><%=translation.admin.notify.option02%></option>
                                    <option value="users_by_id" selected><%=translation.admin.notify.option03%></option>
                                <% } else { -%>
                                    <option value="all_users"><%=translation.admin.notify.option01%></option>
                                    <option value="organization"><%=translation.admin.notify.option02%></option>
                                    <option value="users_by_id"><%=translation.admin.notify.option03%></option>
                                <% } -%>
                            </select>
                        </div>
                    </div>
                    <div class="form-group " style="display: none;">
                        <label class="control-label" for="id_organization"><%=translation.admin.notify.label02%></label>
                        <div class="">
                            <input class="form-control" id="id_organization" name="organization" type="text">
                        </div>
                        <% if (errors.not_users_organization) { -%>
                            <span class="help-block alert alert-danger "><%=translation.admin.notify.alert01%></span>
                        <% } -%>
                        <% if (errors.not_organization) { -%>
                            <span class="help-block alert alert-danger "><%=translation.admin.notify.alert02%></span>
                        <% } -%>
                    </div>
                    <div class="form-group " style="display: none;">
                        <label class="control-label  " for="id_user_ids"><%=translation.admin.notify.label03%></label>
                        <div class=" ">
                            <input class="form-control" id="id_user_ids" maxlength="50000" name="user_ids" value="<%= users %>">
                        </div>
                        <% if (errors.not_users) { -%>
                            <span class="help-block alert alert-danger "><%=translation.admin.notify.alert03%></span>
                        <% } -%>
                        <% if (errors.users_not_found) { -%>
                            <span class="help-block alert alert-danger "><%=translation.admin.notify.alert04%>: <b><%= errors.users_not_found%></b></span> 
                        <% } -%>
                    </div>
                    <div class="form-group required">
                        <label class="control-label  required" for="id_subject"><%=translation.admin.notify.label04%></label>
                        <div class=" ">
                            <input class="form-control" id="id_subject" maxlength="50" name="subject" type="text" value="<%= subject%>">
                        </div>
                        <% if (errors.subject) { -%>
                            <span class="help-block alert alert-danger "><%=translation.admin.notify.required_field%></span>                   
                        <% } -%>
                    </div>
                    <div class="form-group required">
                        <label class="control-label  required" for="id_body"><%=translation.admin.notify.label05%></label>
                        <textarea class="form-control" cols="40" hidden="true" id="id_body" name="body" rows="10" style="overflow: hidden; word-wrap: break-word; height: 194px; display: none;">
                                &lt;span style="display: block;"&gt;<%=translation.admin.notify.email_message%>,&lt;/span&gt;&lt;br/&gt;
                        </textarea>
                        <iframe id="id_body_iframe" src="/summernote/editor.html" frameborder="0" class="form-control" cols="40" rows="10" width="720" height="480" style="height: 480px;"></iframe>
                    </div>
                </fieldset>
                <script type="text/javascript">
                    $(document).ready(function(){

                        function show_complementary_fields(select_value) {
                            if (select_value == 'organization') {
                                $('#id_organization').closest('div.form-group').show();
                                $('#id_user_ids').closest('div.form-group').hide();
                                $('.radio').closest('div.form-group').hide();
                            } else if (select_value == 'all_users') {
                                $('#id_organization').closest('div.form-group').hide();
                                $('#id_user_ids').closest('div.form-group').hide();
                                $('.radio').closest('div.form-group').hide();
                            } else if (select_value == 'users_by_id') {
                                $('#id_organization').closest('div.form-group').hide();
                                $('#id_user_ids').closest('div.form-group').show();
                                $('.radio').closest('div.form-group').hide();
                            } else if (select_value == 'role'){
                                $('#id_organization').closest('div.form-group').hide();
                                $('#id_user_ids').closest('div.form-group').hide();
                                $('.radio').closest('div.form-group').show();
                            }
                        }

                        function set_values() {

                            // Set in hidden textarea the values of the iframe body
                            var message = $("#id_body_iframe").contents().find(".note-editing-area").find(".note-editable").html()
                            $('#id_body').val(message)
                        }

                        // initial load
                        show_complementary_fields($('#id_notify option:selected').val());

                        // on change
                        $('#id_notify').on('change', function() {
                            $('.help-block').hide()
                            show_complementary_fields(this.value);
                        });

                        $('#send_message_form').submit(function(event) {
                            
                            // Stop form from submiting
                            event.preventDefault();

                            set_values()

                            // Continue with the submit request
                            $("#send_message_form")[0].submit();
                        })
                    });
                </script>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary"><%=translation.admin.notify.send_btn%></button>
            </div>
        </form>
    </div>
</div>