<div id="content_body">
	<div id="user_accounts" class="static_page">
		<div class="">
			<div class="">
				<div class="modal-header">
					<h3>
						<div class="page-header">
							<h2>
								Manage User Account
							</h2>
						</div>
					</h3>
				</div>
				<form id="" ng-controller="DummyCtrl" name="" autocomplete="" class="ng-scope ng-pristine ng-valid" action="/idm_admin/user_accounts/<%= user.id%>/update?_method=put" method="POST" enctype="">
					<input type="hidden" name="" value="">
					<div class="modal-body clearfix">
						<h5>User: <b><%= user.username%></b></h5> 
						<h5>E-mail: <b><%= user.email%></b></h5>
						<h5>Cloud project ID: <b> - - - - </b></h5>
						<% if (user.account_type) { -%>
							<h5>Current account type: <b><%= user.account_type %></b></h5>
							<h5>Started at: <b> <%= user.start %> </b></h5>
							<h5>Duration:  <b> <%= user.duration_account_type %> days</b></h5>
							<h5>Expires at: <b> <%= user.expires %> </b></h5>
						<% } else { -%>
							<h5>Current account type: <b> None </b></h5>
						<% } -%>
						<div class="panel">
							<div class="panel-headding">  
								<a data-toggle="collapse" data-parent="#accordion" href="#collapse-update" class="panel-heading collapsed">
									<h4 class="panel-title panel-close">
										Update Account Status
									</h4>
								</a>
							</div>
							<div id="collapse-update" class="panel-collapse collapse" style="height: 0px;">
								<div class="panel-body">
									<fieldset>
										<div class="form-group required">
											<label class="control-label  required" for="id_account_type">Account type</label>
											<div class=" ">
												<select class="form-control" id="id_account_type" name="account_type">
													<option value="basic">basic</option>
													<option value="trial">trial</option>
													<option value="community">community</option>
												</select>
											</div>
										</div>
										<div class="form-group " style="display: none;">
											<label class="control-label" for="id_duration">Duration in days. Important: starting a NEW period from TODAY</label>
											<div class=" ">
												<input class="form-control" id="id_duration" name="duration" type="number">
											</div>
										</div>
										<div class="form-group " style="display: none;">
											<label class="control-label  " for="id_regions">Select new Cloud regions. Important: these will overwrite previously assigned regions.</label>
											<div class=" ">
												<select multiple="multiple" class="form-control" id="id_regions" name="regions">
													<option value="Spain2">Spain2</option>
												</select>
											</div>
										</div>
										<div class="form-group ">
											<div class="">
												<div class="checkbox">
													<label>
														<input id="id_notify" name="notify" type="checkbox">
														<span>Notify user by email</span>
													</label>
												</div>
											</div>
										</div>
									</fieldset>
									<button type="submit" class="btn btn-primary">Update</button>
								</div>
							</div>
						</div>
						<script type="text/javascript">
							$(document).ready(function(){
								var allowed_regions = {"trial": ["Spain2"], "community": ["Spain2", "Trento"], "basic": []};
								var default_durations = {"trial": 14, "user_password": 180, "community": 270};
								function show_regions(){
									var account_type = $("#id_account_type option:selected").text();
									if (account_type == 'basic'){
										$('#id_regions').closest('div.form-group').hide();
										$('#id_regions').val('')
										$('#id_duration').closest('div.form-group').hide()
										$('#id_duration').val('')
									} else if (account_type == 'trial' || account_type == 'community') {
										var regions = allowed_regions[account_type];
										$('#id_regions').closest('div.form-group').show();
										$('#id_regions').children().remove();
										$.each(allowed_regions[account_type], function (i, region) {
											$('#id_regions').append($('<option>', { 
												value: region,
												text : region
											}));
										});
										$('#id_duration').closest('div.form-group').show();
										$('#id_duration').val(default_durations[account_type])
									}
								};
								show_regions();
								$('#id_account_type').on('change', show_regions);
							});
						</script>
					</div>
					<div class="modal-footer">
					</div>
				</form>
			</div>
		</div>
	</div>
</div>