<style type="text/css">

    #users-page > div > .table > tbody > tr > td, 
    #users-page > div > .table > tbody > tr > th,
    #users-page > div > .table > tfoot > tr > td, 
    #users-page > div > .table > tfoot > tr > th, 
    #users-page > div > .table > thead > tr > td, 
    #users-page > div > .table > thead > tr > th {
        vertical-align: baseline;
        padding: 8px;
    }

    #users-page > div > .table > tbody > tr > td > p {
        padding-bottom: 0px;
    }

    #users-page > div > .table > tbody > tr > td > label {
        padding-top: 8px;
    }

    #users-page > div > .table {
        margin-left: auto; 
        margin-right: auto; width: 100%;
    }

    #users-page > .panel {
        border: 0;
    }

    #users-page > .panel > .panel-heading {
        display: flex;
        -webkit-flex-flow: row wrap;
        justify-content: flex-end;

        border-bottom: 0;
    }

    #users-page > .panel > .panel-body {
        padding: 0;
    }

    #users-page > .panel > .panel-heading > .filter {
        width: 25%;
    }

    #users-page > .panel > .panel-heading > .filter > input{
        height: 30px;
    }

    #users-page > .panel > .panel-heading > .btn-group {
        margin-left: 8px;
    }
</style>

<!-- Switch button -->
<style type="text/css">
    /* The switch - the box around the slider */
    .switch {
        vertical-align: bottom;
        margin-bottom: 0px;
        position: relative;
        display: inline-block;
        width: 60px;
        height: 24px;
    }

    /* Hide default HTML checkbox */
    .switch input {display:none;}

    /* The slider */
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 16px;
        width: 16px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked + .slider {
        background-color: #2196F3;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(35px);
    }

    /* Rounded sliders */
    .slider.round {
      border-radius: 34px;
    }

    .slider.round:before {
      border-radius: 50%;
    }
</style>

<div id="content_body">
    <div class="page-header">
        <h2>
            Users
        </h2>
    </div>
    <div id="users-page">
        <div class="panel panel-default datatable" id="auth_admins" data-pagination-url="/filters/users" data-application_id="idm_admin_app" data-pagination-pages="">
            <div class="panel-heading">
                <div class="filter table_search client">
                    <input class="form-control" value="" type="text" name="list_users__filter__q" placeholder="Filter">
                </div>
                <div class="btn-group"> 
                    <button title="Create user" data-toggle="modal" data-target="#create_user_modal" class="btn btn-default btn-sm ajax-modal">
                        Create user
                    </button>
                </div>
                <div class="btn-group"> 
                    <button title="Delete user" data-toggle="modal" data-target="#delete_user_modal" class="btn btn-default btn-sm ajax-modal">
                        Delete user
                    </button>
                </div>
            </div>
            <div class="panel-body datatable-content">
                <div style="overflow-x:auto;">
                    <table id="user_table" class="table table-striped">
                        <thead>
                            <tr>
                                <th width="5%">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="check_all">
                                    </div> 
                                </th>
                                <th width="5%"></th>
                                <th width="20%">Id</th>
                                <th width="10%">Username</th>
                                <th width="10%">Email</th>
                                <th width="5%">Enable</th>
                                <th width="10%">Actions</th>
                            </tr>
                        </thead>
                        <tbody> 
                            
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel-footer">
                <nav id="users_pagination_container"></nav>
            </div>
        </div>
    </div>
</div>

<%- include _delete_user %>
<%- include _reset_password %>
<%- include _edit_user %>
<%- include _create_user %>

<%- include ../templates/./admin/./_user_row %>

<script type="text/javascript">

// Handle the authorization of users to be administrators
$(document).ready(function() {

    $('#users-page').on("changed.bs.select", ".selectpicker", function(e, clickedIndex, newValue, oldValue) {
        var selectedD = $(this).find('option').eq(clickedIndex).val();

        if (selectedD === 'password') {
            $('#change_password_modal').modal('show');
        } else if (selectedD === 'edit') {
            $('#edit_user_modal').modal('show');
        }

        $('.selectpicker').selectpicker('val', '');;
        
    })

    $('#check_all').click(function() {
        if ($(this).prop('checked')) { 
            $('.form-check-input').prop('checked', true);
        } else {
            $('.form-check-input').prop('checked', false);
        }
    })


    // Handle the submit button from the create role form
    $("#create_user_form").submit(function(event) {

        // stop form from submitting normally
        event.preventDefault();

        // Create new row in role column
        var user_row = $('#table_row_user_row_template').html();
        /*user_row = user_row.replace(/role_name/g, htmlEntities(result.role.name));
        user_row = user_row.replace(/role_id/g, String(result.role.id));
        user_row = user_row.replace(/app_id/g, String(application.id));*/
        $('#user_table tr:last').after(user_row);
        $('.selectpicker').selectpicker('render');
        //users_pagination(users.length);
   
        if ($.trim($('#id_username').val()) == '') {
            $('#error_empty_username').show('open')
        }
        if ($.trim($('#id_email').val()) == '') {
            $('#error_empty_email').show('open')
        }
        if ($.trim($('#id_password1').val()) == '') {
            $('#error_empty_password1').show('open')
        }
        if ($.trim($('#id_password2').val()) == '') {
            $('#error_empty_password2').show('open')
        }

        /*// get the action attribute from the <form action=""> element 
        var $form = $(this),
            url = $form.attr('action');

        // Send the data using post with element id name 
        var posting = $.post({
                    url: url, 
                    data: { name: $("#create_role_form").find('#id_name').val() },
                    beforeSend: beforeSend($("#create_role_form").find('input:hidden[name=_csrf]').val()) });

        // Alerts the results 
        posting.done(function(result) {
            
        });*/

    });


    load_admins()

    function htmlEntities(str) {
        return String(str).replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/"/g, '&quot;');
    }


    function load_admins() {

        var users = [
            {
                id: '982yh1h1uh1n2j1n',
                username: 'john',
                email: 'email_john',
                image: '/img/logos/small/user.png', 
                enable: 1
            },
            {
                id: 'asdfsadfsadfsadf43',
                username: 'mary',
                email: 'email_mary',
                image: '/img/logos/small/user.png',
                enable: 0
            },
            {
                id: '1342343vczsvsdfgf',
                username: 'july',
                email: 'email_july',
                image: '/img/logos/small/user.png',
                enable: 1
            }
        ]

        users_pagination(users.length)
        create_user_rows(users)    

        /*$.get('/idm/admins/list_users/users', function(data, status) {
            if (data.users.length > 0) {
                users_pagination(data.users_number)
                create_user_rows(data.users)    
            } else {
                $('#admins_content').find('.alert').show('open')
            }
        })*/
    }

    function create_user_rows(users) {
        for (var i = 0; i < users.length; i++) {

            var user_row = $('#table_row_user_row_template').html();
            user_row = user_row.replace(/user_username/g, htmlEntities(users[i].username));
            user_row = user_row.replace(/user_id/g, String(users[i].id));
            user_row = user_row.replace(/user_id/g, String(users[i].email));
            user_row = user_row.replace(/user_avatar/g, String(users[i].image));
            $('#user_table tr:last').after(user_row);
            if (users[i].enable) {
                $('#'+users[i].id).find('.enable').find("input[type='checkbox']").prop('checked', true)
            }
            $('.selectpicker').selectpicker('render');
        }
    }

    
    
    function users_pagination(max) {
        $('#users_pagination_container').bootpag({
            total: Math.ceil(max/25),
            page: 1,
            maxVisible: 25,
            leaps: true,
            firstLastUse: true,
            first: 'First',
            last: 'Last',
            wrapClass: 'pagination',
            activeClass: 'active',
            disabledClass: 'disabled',
            nextClass: 'next',
            prevClass: 'prev',
            lastClass: 'last',
            firstClass: 'first'
        }).on("page", function(event, num){
            /*$.get(url+'?page='+num, function(data, status) {
                $('#admins_content').children('.list-group-item').remove()
                create_user_rows(data.admin_users, $('#admins_content'));
                $('#admins_content').find('.alert').hide()              
            })*/
        });
    }

})

</script>