<div id="content_body">
    <div class="page-header">
        <h1><%=translation.settings.change_pass.title%></h1>
    </div>
    <div id="change_password_modal" class="static_page change_password">
        <div class="">
            <div class="">
                <div class="modal-header">
                    <h3></h3>
                </div>
                <form id="change_password_modal" ng-controller="DummyCtrl" name="" autocomplete="off" class="ng-scope ng-pristine ng-valid" action="/idm/settings/password/" method="POST" enctype="">
                    <input type='hidden' name='_csrf' value='<%= csrf_token%>' />
                    <div class="modal-body clearfix">
                        <div class="left">
                            <% if (errors.includes('password_different')) { -%>
                                <span class="help-block alert alert-danger "><%=translation.settings.change_pass.pass_alert%></span>
                            <% } -%>
                            <fieldset>
                                <div class="form-group required has-feedback">
                                    <label class="control-label  required" for="id_current_password"><%=translation.settings.change_pass.label01%></label>
                                    <div class="">
                                        <input class="form-control" id="id_current_password" name="current_password" type="password">
                                        <span class="form-control-feedback fa fa-eye"></span>
                                        <% if (errors.includes('current_password')) { -%>
                                            <span class="help-block alert alert-danger "><%=translation.settings.change_pass.required_field%></span>
                                        <% } -%>
                                    </div>
                                </div>
                                <div class="form-group required has-feedback">
                                    <label class="control-label  required" for="id_new_password"><%=translation.settings.change_pass.label02%></label>
                                    <div class="">
                                        <input class="form-control" id="id_new_password" name="new_password" type="password">
                                        <span class="form-control-feedback fa fa-eye"></span>
                                        <% if (errors.includes('new_password')) { -%>
                                            <span class="help-block alert alert-danger "><%=translation.settings.change_pass.required_field%></span>
                                        <% } -%>
                                    </div>
                                </div>
                                <div class="form-group required has-feedback">
                                    <label class="control-label  required" for="id_confirm_password"><%=translation.settings.change_pass.label03%></label>
                                    <div class="">
                                        <input class="form-control" id="id_confirm_password" name="confirm_password" type="password">
                                        <span class="form-control-feedback fa fa-eye"></span>
                                        <% if (errors.includes('confirm_password')) { -%>
                                            <span class="help-block alert alert-danger "><%=translation.settings.change_pass.required_field%></span>
                                        <% } -%>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="right">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input class="btn btn-primary" type="submit" value="Submit">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="/javascripts/users/handle_password_strength.js" type="text/javascript"></script>
<script src="/javascripts/others/see_password.js" type="text/javascript"></script>

<script type="text/javascript">
    $(document).ready(function(){

        $('#id_new_password').bind("keyup input",function(e) {
            var input = $('#id_new_password')
            var value_input = $('#id_new_password').val()
            var label = input.closest('.form-group').find('label')
            checkStrength(value_input, input, label)
        })
    })
</script>

<% if (warn_change_password) { -%>
    <%- include _warn_change_password %>
    <script type="text/javascript">
        $(window).on('load',function(){
            $('#warn_change_password').modal('show');
        });
    </script>
<% } -%>
