<div id="content_body">
  <div id="enable_tfa_page">

  <div class="page-header">
    <h2>Two Factor Authentication</h2>
  </div>
  <div class="panel-group settings" id="accordion">
    <% if (errors.includes('wrong_token')) { -%>
        <span class="help-block alert alert-danger ">La verificación ha fallado porque el token introducido no es válido.
           Por favor revisa la fecha y hora del sistema y vuelva a intentarlo.</span>
    <% } -%>
      <p>Si quieres darle una oportunidad a la autenticación en dos pasos, necesitas seguir los siguientes pasos.</p>
      <span >
      </span>
        <div class="card card-container">
          <form accept-charset="UTF-8" autocomplete="off" action="/idm/settings/enable_tfa_verify" id="two_factor_form" method="post" class="ng-pristine ng-valid">
            <input type='hidden' name='_csrf' value='<%= csrf_token%>' />
            <input type='hidden' name='secret' value='<%= secret%>' />
            <input type='hidden' name='qr' value='<%= qr%>' />
            <p>1. Proporciona una pregunta de seguridad y una respuesta secreta. Será de utilidad en caso de que pierdas el acceso a tu aplicación de autenticación.</p>
              <div class="form-group ">
                <label class="control-label" for="id_security_question">Pregunta de seguridad</label>
                <div class=" ">
                  <input class="form-control" id="id_security_question" name="security_question" type="text" required>
                </div>
              </div>
              <div class="form-group ">
                <label class="control-label  " for="id_security_answer">Respuesta de seguridad</label>
                <div class=" ">
                  <input class="form-control" id="id_security_answer" name="security_answer" type="text" required>
                </div>
              </div>
              <p>2. Abre la app Google Authenticator en tu smartphone.</p>
              <p>3. Escanea el código QR o introduce la clave secreta.</p>
              <p>4. Introduce debajo el token proporcionado por la app.</p>
              <div class="image-wrapper">
                <img src=<%=qr%> alt="">
                <p>Secret Key - <%=secret%></p>
              </div>
                <div class="form-group ">
                  <label class="control-label" for="token">Token</label>
                  <div class=" ">
                    <input class="form-control" id="token" name="token" type="number" maxlength="6" autocomplete="off" placeholder="Inserta el token" required/>
                  </div>
                </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary pull-right">Habilitar</button>
            </div>
          </form>
        </div>
  </div>
</div>
</div>
