<div id="content_body">
    <div class="page-header">
        <h2>
            <%=translation.settings.settings.title%>
        </h2>
    </div>
    <div class="panel-group settings" id="accordion">
        <div class="panel panel-default ">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse-0" class="panel-heading collapsed">
                <h4 class="panel-title panel-close">
                    <%=translation.settings.settings.panel_title01%>
                </h4>
            </a>
            <div id="collapse-0" class="panel-collapse collapse change_password" style="height: 0px;">
                <div class="panel-body">
                    <form accept-charset="UTF-8" action="/idm/settings/password/" method="post" class="ng-pristine ng-valid">
                        <input type='hidden' name='_csrf' value='<%= csrf_token%>' />
                        <fieldset>
                            <legend></legend>
                            <div class="form-group required has-feedback">
                                <label class="control-label  required" for="id_current_password"><%=translation.settings.settings.label01%></label>
                                <div class=" ">
                                    <input class="form-control" id="id_current_password" name="current_password" type="password"><span class="form-control-feedback fa fa-eye"></span>
                                </div>
                            </div>
                            <div class="form-group required has-feedback">
                                <label class="control-label  required" for="id_new_password"><%=translation.settings.settings.label02%></label>
                                <div class=" ">
                                    <input class="form-control" id="id_new_password" name="new_password" type="password"><span class="form-control-feedback fa fa-eye"></span>
                                </div>
                            </div>
                            <div class="form-group required has-feedback">
                                <label class="control-label  required" for="id_confirm_password"><%=translation.settings.settings.label03%></label>
                                <div class=" ">
                                    <input class="form-control" id="id_confirm_password" name="confirm_password" type="password"><span class="form-control-feedback fa fa-eye"></span>
                                </div>
                            </div>
                        </fieldset>
                        <input class="btn btn-primary" type="submit" value="Update">
                    </form>
                </div>
            </div>
        </div>
        <div class="panel panel-default ">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse-1" class="panel-heading collapsed">
                <h4 class="panel-title panel-close">
                    <%=translation.settings.settings.panel_title02%>
                </h4>
            </a>
            <div id="collapse-1" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                    <form accept-charset="UTF-8" action="/idm/settings/email/" method="post" class="ng-pristine ng-valid">
                        <input type='hidden' name='_csrf' value='<%= csrf_token%>' />
                        <fieldset>
                            <legend></legend>
                            <div class="form-group required">
                                <label class="control-label  required" for="id_email"><%=translation.settings.settings.label04%></label>
                                <div class=" ">
                                    <input class="form-control" id="id_email" name="email" type="email" value="<%= session.user.email %>">
                                </div>
                            </div>
                            <div class="form-group required has-feedback">
                                <label class="control-label  required" for="id_email"><%=translation.settings.settings.label05%></label>
                                <div class=" ">
                                    <input class="form-control" id="id_password" name="password" type="password">
                                </div>
                            </div>
                        </fieldset>
                        <input class="btn btn-primary" type="submit" value="Update">
                    </form>
                </div>
            </div>
        </div>
        <%if (enable_2fa){%>
         <div class="panel panel-default ">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse-2" class="panel-heading collapsed">
                <h4 class="panel-title panel-close"><%=translation.settings.settings.panel_title05%></h4>
            </a>
            <div id="collapse-2" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                  <%if (session.user.extra){%>
                  <%if (!session.user.extra.tfa || !session.user.extra.tfa.enabled) {%>
                    <p><%=translation.settings.settings.content01%><b><%=translation.settings.settings.content01_1%></b></p>
                    <p><%=translation.settings.settings.content02%></p>
                    <a href="/idm/settings/enable_tfa" class="small"><span><%=translation.settings.settings.content05%></span></a>
                  <%} else if (session.user.extra.tfa.enabled){%>
                    <p><%=translation.settings.settings.content01%><b><%=translation.settings.settings.content01_1%></b></p>
                    <a href="" class="ajax-modal" data-toggle="modal" data-target="#disable_tfa_modal" rel="nofollow"><%=translation.settings.settings.content06%></a>
                  <%}%>
                  <%}%>

                    <div id="result">
                    </div>
                </div>
            </div>
        </div>
        <%}%>
        <div class="panel panel-default cancel_account">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse-3" class="panel-heading collapsed">
                <h4 class="panel-title panel-close">
                    <%=translation.settings.settings.panel_title04%>
                </h4>
            </a>
            <div id="collapse-3" class="panel-collapse collapse">
                <div class="panel-body">
                    <%=translation.settings.settings.content04%><a href="" class="ajax-modal" data-toggle="modal" data-target="#cancel_account_modal" rel="nofollow"><%=translation.settings.settings.content04_link%></a>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include _delete_user %>
<%- include _disable_tfa %>

<script src="/javascripts/users/handle_password_strength.js" type="text/javascript"></script>
<script src="/javascripts/others/see_password.js" type="text/javascript"></script>

<script type="text/javascript">
    $(document).ready(function(){

        $('#id_new_password').bind("keyup input",function(e) {
            var input = $('#id_new_password')
            var value_input = $('#id_new_password').val()
            var label = input.closest('.form-group').find('label')
            checkStrength(value_input, input, label)
        })
    })
</script>
