<div id="content_body">
    <div class="panel panel-default ">
        <div class="panel-body">
            <div id="" class="edit">
                <div class="modal-header">
                    <h3>
                        <%=translation.organizations.edit.title01%>
                    </h3>
                </div>
                <form id="" ng-controller="DummyCtrl" name="" autocomplete="" class="ng-scope ng-pristine ng-valid" action="/idm/organizations/<%= organization.id %>/edit/info?_method=put" method="POST">
                    <input type='hidden' name='_csrf' value='<%= csrf_token%>' />
                    <div class="modal-body clearfix">
                        <div>
                            <fieldset>
                                <div class="form-group required">
                                    <label class="control-label  required" for="id_name"><%=translation.organizations.edit.label01%></label>
                                    <div class="">
                                        <input class="form-control" id="id_name" maxlength="64" name="organization[name]" type="text" value="<%= organization.name %>">
                                    </div>
                                </div>
                                <% if (error) { %>
                                    <% if (error.errors) { %>
                                        <% if (error.errors.some(elem => elem.message === "name")) { -%>
                                            <span class="help-block alert alert-danger "><%=translation.organizations.edit.required_field%></span>
                                        <% } -%>
                                    <% } %>
                                <% } %>
                                <div class="form-group required">
                                    <label class="control-label  required" for="id_description"><%=translation.organizations.edit.label02%></label>
                                    <div class="">
                                        <textarea class="form-control" cols="40" id="id_description" name="organization[description]" rows="4" style="overflow: hidden; word-wrap: break-word; height: 86px;"><%= organization.description %></textarea>
                                    </div>
                                </div>
                                <% if (error) { %>
                                    <% if (error.errors) { %>
                                        <% if (error.errors.some(elem => elem.message === "description")) { -%>
                                            <span class="help-block alert alert-danger "><%=translation.organizations.edit.required_field%></span>
                                        <% } -%>
                                    <% } %>
                                <% } %>
                                <div class="form-group">
                                    <label class="control-label" for="id_website"><%=translation.organizations.edit.label03%></label>
                                    <div class="">
                                        <input class="form-control" id="id_website" name="organization[website]" type="url" value="<%= organization.website %>">
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary"><%=translation.organizations.edit.update_btn%></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="panel panel-default ">
        <div class="panel-body">
            <div id="" class="edit update-avatar-modal">
                <div class="modal-header">
                    <h3>
                        <%=translation.organizations.edit.title02%>
                    </h3>
                </div>
                <form id="create_avatar_form" ng-controller="DummyCtrl" name="" autocomplete="" class="ng-scope ng-pristine ng-valid" action="/idm/organizations/<%= organization.id %>/edit/avatar?_method=put" method="POST" enctype="multipart/form-data">
                    <input type='hidden' name='_csrf' value='<%= csrf_token%>' />
                    <input id="submit_avatar" type="hidden" name="" value="">
                    <div class="modal-body clearfix">
                        <div class="row">
                            <div class="avatar_col col-xs-12 col-md-6 used-avatar">
                                <div class="profile_img">
                                    <img id="avatar-update" src="<%= organization.image %>" alt="uploaded image" style="width: 100px; height: 100px;">
                                </div>
                                <div class="profile_actions">
                                    <% if (organization.image != "/img/logos/original/group.png") { -%>
                                        <button id="delete_image_button" class="btn btn-primary always-enabled ajax-modal" href="/idm/organizations/<%= organization.id %>/edit/delete_image/"><%=translation.organizations.edit.delete_btn%></button>
                                    <% } else { -%>
                                        <button id="delete_image_button" class="btn btn-primary always-enabled ajax-modal" href="/idm/organizations/<%= organization.id %>/edit/delete_image/" disabled="disabled"><%=translation.organizations.edit.delete_btn%></button>
                                    <% } -%>
                                </div>
                            </div>
                        </div>
                        <div>
                            <fieldset>
                                <h6><%=translation.organizations.edit.label04%></h6>
                                <input id="id_x" name="x" type="hidden">
                                <input id="id_y" name="y" type="hidden">
                                <input id="id_w" name="w" type="hidden">
                                <input id="id_h" name="h" type="hidden">
                                <div class="form-group ">
                                    <label class="control-label" for="id_image"></label>
                                    <div id="image_selected" class="">
                                        <input id="id_image" accept="image/*" name="image" type="file">
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="row avatar-update-container">
                            <div class="col-md-10" style="display:none;">
                                <img id="avatar-update" src="/img/logos/original/group.png">
                            </div>
                            <div class="col-md-2 update_actions" style="display:none;">
                                <h6><%=translation.organizations.edit.content01%></h6>
                                <button id="crop-and-use-button" class="btn btn-primary always-enabled" name="crop_and_use" type="submit"><%=translation.organizations.edit.crop_btn%></button>
                                <a href="#" class="btn btn-default always-enabled" id="cancel-crop-button"><%=translation.organizations.edit.cancel_btn%></a>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="panel panel-default cancel_account">
        <div class="panel-body">
            <div id="cancel-organization-modal" class="edit">
                <div class="modal-header">
                    <h3>
                        <%=translation.organizations.edit.title03%>
                    </h3>
                </div>
                <form id="" ng-controller="DummyCtrl" name="" autocomplete="" class="ng-scope ng-pristine ng-valid" action="/idm/organizations/<%= organization.id %>?_method=delete" method="POST" enctype="">
                    <input type='hidden' name='_csrf' value='<%= csrf_token%>' />
                    <div class="modal-body clearfix">
                        <a class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#destroy_organization">
                            <h3>
                                <span><%=translation.organizations.edit.content02%></span>
                            </h3>
                        </a>
                        <div>
                            <fieldset>
                                <input id="id_orgID" name="orgID" type="hidden" value="<%= organization.id %>">
                            </fieldset>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div id="destroy_organization" class="panel-collapse collapse">
                            <span><%=translation.organizations.edit.content03%></span>
                            <button type="submit" class="btn btn-danger"><%=translation.organizations.edit.delete_org_btn%></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="messages"></div>

<%- include _delete_avatar %>

<%- include ../templates/./other/./_info_message %>

<script src="/javascripts/organizations/handle_edit_organization.js" type="text/javascript"></script>
