<div id="content_body">
    <div class="page-header">
        <h2>
            <%=translation.organizations.index.title%>
        </h2>
    </div>
    <div id="organizations-table">
        <div class="panel panel-default tab-group">
            <div id="header_panel_tabs" class="panel-heading">
                <div class="tab_group_actions clearfix">
                    <div class="btn-group">
                        <a href="/idm/organizations/new" title="Create" class="btn btn-primary">
                            <%=translation.organizations.index.create_btn%>
                        </a>
                    </div>
                </div>
                <ul id="panel_tabs" class="nav nav-tabs ajax-tabs" data-sticky-tabs="sticky">
                    <li class="active">
                        <a href="?tab=panel_tabs__owned_organizations_tab" data-toggle="tab" data-target="#panel_tabs__owned_organizations_tab" data-loaded="false"><%=translation.organizations.index.tab01%></a>
                    </li>
                    <li class="">
                        <a href="?tab=panel_tabs__member_organizations_tab" data-toggle="tab" data-target="#panel_tabs__member_organizations_tab" data-loaded="false"><%=translation.organizations.index.tab02%></a>
                    </li>
                </ul>
                <div id="spinner_panel_tabs" class="tab-spinner-inline" style="display: none;"><i class="fa fa-circle-o-notch fa-spin"></i>
                </div>
            </div>
            <div id="body_panel_tabs" class="panel-body tab-content">
                <div id="panel_tabs__owned_organizations_tab" class="tab-pane active">
                    <div class="datatable" id="owned_organizations" data-pagination-url="/filters/organizations" data-organization_role="owner" data-pagination-pages="">
                        <div class="list-group" id="owned_organizations_content">
                            <p class="alert alert-info empty" style="display: none;"><%=translation.organizations.index.alert01%></p>
                        </div>
                        <div class="panel-footer">
                            <nav id="owned_organizations_pagination_container">
                            </nav>
                        </div>
                    </div>
                </div>
                <div id="panel_tabs__member_organizations_tab" class="tab-pane">
                    <div class="datatable" id="member_organizations" data-pagination-url="/filters/organizations" data-organization_role="member" data-pagination-pages="">
                        <div class="list-group" id="member_organizations_content">
                            <p class="alert alert-info empty" style="display: none;"><%=translation.organizations.index.alert02%></p>
                        </div>
                        <div class="panel-footer">
                            <nav id="member_organizations_pagination_container">
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include ../templates/./organizations/./_organization_row %>

<script src="/javascripts/organizations/handle_organization_navigation.js" type="text/javascript"></script>
