<%if(session.user) {%>
  <nav class="sidebar">
    <h5>
      <span class="hidden-xs hidden-sm"><%=translation.navigation.main_menu%></span>
      <span class="visible-sm"><%=translation.navigation.idm%></span>
    </h5>
      <ul>
        <a href="/idm" class="home">
          <h4 tabindex="1"><i class="fa"></i><span><%=translation.navigation.home%></span></h4>
        </a>
        <a href="/idm/organizations" class="organizations">
          <h4 tabindex="2"><i class="fa"></i><span><%=translation.navigation.organizations%></span></h4>
        </a>
        <a href="/idm/applications" class="applications">
          <h4 tabindex="3"><i class="fa"></i><span><%=translation.navigation.applications%></span></h4>
        </a>
        <%if(session.user.admin) {%>
          <h5>
            <span class="hidden-xs hidden-sm"></span>
            <span class="visible-sm"> </span>
          </h5>
          <ul>
            <a href="/idm/admins/notify" class="notify">
              <h4 tabindex="1"><i class="fa"></i><span><%=translation.navigation.notify%></span></h4>
            </a>
            <a href="/idm/admins/administrators" class="administrators">
              <h4 tabindex="2"><i class="fa"></i><span><%=translation.navigation.administrators%></span></h4>
            </a>
            <a href="/idm/admins/list_users" class="list_users">
              <h4 tabindex="3"><i class="fa"></i><span><%=translation.navigation.users%></span></h4>
            </a>
          </ul>
        <%}%>
      </ul>
  </nav>
<%}%>
