<%if(session.user && !error.status && (typeof flag === 'undefined')) {%>

<div id = "navigation_bar">

  <nav class="sidebar" id="nav">
    <div id="app-logo">
      <a href="/idm">
        <img src="/img/keyrock01.png" alt="Keyrock logo">
      </a>
    </div>
    <div id="user-logo">
      <a href="/idm/users/<%=session.user.id%>">
      <img src="<%=session.user.image%>" alt="Profile image">
    </a>
    </div>
    <h1><%=session.user.username%></h1>
      <ul>
        <li>
          <a href="/idm" class="new-home">
            <h4 tabindex="1"><i class="fa fa-home"></i><span>Inicio</span></h4>
          </a>
        </li>
        <li>
          <a href="/idm/users/<%=session.user.id%>/edit" class="edit">
            <h4 tabindex="2"><i class="fa fa-edit"></i><span>Edita tu cuenta</span></h4>
          </a>
        </li>
        <li>
          <a href="/idm/#" class="privacy">
            <h4 tabindex="3"><i class="fa fa-user-secret"></i><span>Privacidad</span></h4>
          </a>
        </li>
        <li>
          <a href="/idm/users/<%=session.user.id%>/_third_party_applications" class="accounts">
            <h4 tabindex="4"><i class="fa fa-link"></i><span>Cuentas vinculadas</span></h4>
          </a>
        </li>
        <li>
          <a href="/idm/help_about" class="help">
            <h4 tabindex="5"><i class="fa fa-question-circle"></i><span>Ayuda</span></h4>
          </a>
        </li>
        <!--

<hr>
<li>
        <a href="/idm/organizations" class="organizations">
          <h4 tabindex="6"><i class="fa"></i><span><%=translation.navigation.menu_item02%></span></h4>
        </a>
        </li>
        <li>
        <a href="/idm/applications" class="applications">
          <h4 tabindex="7"><i class="fa"></i><span><%=translation.navigation.menu_item03%></span></h4>
        </a>
        </li> -->
        <%if(session.user.admin) {%>
          <h5>
            <span class="hidden-xs hidden-sm"></span>
            <span class="visible-sm"> </span>
          </h5>
            <li>
            <a href="/idm/admins/notify" class="notify">
              <h4 tabindex="1"><i class="fa"></i><span><%=translation.navigation.menu_item04%></span></h4>
            </a>
            </li>
            <li>
            <a href="/idm/admins/administrators" class="administrators">
              <h4 tabindex="2"><i class="fa"></i><span><%=translation.navigation.menu_item05%></span></h4>
            </a>
            </li>
            <li>
            <a href="/idm/admins/list_users" class="list_users">
              <h4 tabindex="3"><i class="fa"></i><span><%=translation.navigation.menu_item06%></span></h4>
            </a>
            </li>
        <%}%>
      </ul>
  </nav>
  </div>
<%}%>


<script type="text/javascript">
  $(function() {
    var nav = document.getElementById('nav'),
        anchor = nav.getElementsByTagName('a'),
        current = window.location;

    console.log("anchor = ",anchor,"current = ",current);

    for (var i = 0; i < anchor.length; i++) {
    if(anchor[i].href == current) {
        anchor[i].className = "active";
    }}
});
</script>
