Edit Application: <p>

<form method="post" action="/indexApplication/<%= applicationInfo.id %>?_method=put">  
	
	<% var nameErrors = [] %>
	<% if (errors.length) { %>
        <% for (var i in errors) { %>
        	<% nameErrors.push(errors[i].message)%>
        <% } %>
      </span>
    <% } %>


  	<label for="preg" class="rem">Name:</label>
	<input type="text" id="name" name="application[Name]" value="<%= applicationInfo.Name %>"/> <p>
	<% if (nameErrors.indexOf("name") != -1) { %>
		Este campo es obligatorio<br/>
	<% } %>

	<label for="resp" class="rem">Description:</label>
	<input type="text" id="desc" name="application[Description]" value="<%= applicationInfo.Description %>"/> <p>
	<% if (nameErrors.indexOf("description") != -1) { %>
		Este campo es obligatorio<br/>
	<% } %>

	<label for="resp" class="rem">Application Id:</label>
	<input type="text" id="appId" name="application[ApplicationId]" value="<%= applicationInfo.ApplicationId %>"/> <p>
	<% if (nameErrors.indexOf("applicationId") != -1) { %>
		Este campo es obligatorio<br/>
	<% } %>

	<label for="resp" class="rem">Application Secret:</label>
	<input type="text" id="appSe" name="application[ApplicationSecret]" value="<%= applicationInfo.ApplicationSecret %>"/> <p>
	<% if (nameErrors.indexOf("applicationSecret") != -1) { %>
		Este campo es obligatorio<br/>
	<% } %>

	<a href="/indexApplication/<%= applicationInfo.id %>"><button type="button">Back</button></a>
	<input type="submit" value="Send">
</form>