<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#E6E6E6"/>
  <meta charset="utf-8"><title><%= site.title %></title>
  <script src="/javascripts/jquery-3.2.1.min.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
  <script src="/javascripts/jquery.Jcrop.min.js"></script>
  <script src="/javascripts/jquery.bootpag.min.js"></script>
  <link rel='stylesheet' href="/stylesheets/jquery.Jcrop.css" />
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head> 

<body>

<% 
  var header = '_header';
  var footer = '_footer';

  if (site.theme !== 'default') {
    if(fs.existsSync('themes/' + site.theme + '/templates/_header.ejs')) 
      header = '../themes/' + site.theme + '/templates/_header';
    if(fs.existsSync('themes/' + site.theme + '/templates/_footer.ejs')) 
      footer = '../themes/' + site.theme + '/templates/_footer';
  }
%>

<%- include(header) %>

<div id="container" class="container-fluid wrap">

  <%- include _navigation %>

  <%- body %>

</div>

<div id="backdrop" style="display: none;" class="modal-backdrop  in"></div>

<% if (message.text) { %>
<div class="messages">
  <div class="alert alert-<%=message.type%> alert-dismissable fade in">
    <a class="close" data-dismiss="alert" href="#">×</a>
    <p><strong><%=message.type%>: </strong><%=message.text%></p>
  </div>
</div>
<% } %>

<%- include(footer) %>

</body> 
</html>