<p><%=translation.templates.email.activate.content01%> <%= name %>!</p>

<p><%=translation.templates.email.activate.content02%></p>

<p><a href= <%= link %> target="_blank"><%=translation.templates.email.activate.content03%></a></p>
