<p><%=translation.templates.email.change_email.content01%> <%= name %>!</p>

<p><%=translation.templates.email.change_email.content02%></p>

<p><a href= <%= link %> target="_blank"><%=translation.templates.email.change_email.content03%></a></p>
