<p><%=translation.templates.email.disable_2fa.content01%> <%= name %>!</p>

<p><%=translation.templates.email.disable_2fa.content02%></p>

<p><a href= <%= link %> target="_blank"><%=translation.templates.email.disable_2fa.content03%></a></p>
