<p><%=translation.templates.email.forgot_password.content01%> <%= name %>!</p>

<p><%=translation.templates.email.forgot_password.content02%></p>

<p><a href= <%= link %> target="_blank"><%=translation.templates.email.forgot_password.content03%></a></p>

<p><%=translation.templates.email.forgot_password.content04%></p>

<p><%=translation.templates.email.forgot_password.content05%></p>
