<p><%=translation.templates.email.user_info.content01%></p>
<p><%=translation.templates.email.user_info.content02%> <%= email %> </p>
<p><%=translation.templates.email.user_info.content03%> <%= password %> </p>
<p><%=translation.templates.email.user_info.content04%> <%= username %> </p>
<p><%=translation.templates.email.user_info.content05%> </p>
<p><a href= <%= link %> target="_blank"><%= link %></a></p>
