<p>Welcome to Keyrock! An account has been created on keyrock with the following credentials: </p>
<p>Email: <%= email %> </p>
<p>Password: <%= password %> </p>
<p>Username: <%= username %> </p>
<p>You can sign in here: </p>
<p><a href="<%= link %>" target="_blank"><%= link %></a></p>