<div id="content_body">
  	<div class="page-header">
    	<h2>  
    		Home
   		</h2>
  	</div>
	<div id="home">
		<div class="panel panel-default datatable" id="applications" data-pagination-url="/filters/applications" data-pagination-pages="">
  			<div class="panel-heading">
      			<span class="title">Applications</span>      
				<div class="table_actions clearfix"> 
    				<div id="spinner_applications" class="loading-spinner-inline" style="display: none;"><i class="fa fa-circle-o-notch fa-spin"></i></div>
  					<div class="btn-group"> 
  						<a href="/idm/applications/new/" title="Register" class="btn btn-primary btn-sm" id="applications__action_register_application">
      						Register
 						</a>
					</div>
				</div>
			</div>
  			<div class="panel-body datatable-content">
			  	<% if (applications.length > 0) { %>
					<div class="list-group" id="applications_content">
						<% var i; for (i=0; i < applications.length; i++) { %> 
	  						<div class="list-group-item">
	  							<a class="item" href="/idm/applications/<%= applications[i].id %>">
	  								<div class="avatar filter_field">
											<img alt="application logo" src="<%= applications[i].image %>">
										</div>
		  							<div class="name filter_field"><%= applications[i].name %></div>
		    						<div class="url filter_field"><%= applications[i].url %></div>
					  			</a>
					  		</div>
					  	<% } %>
				  	</div>				
				<% } else { -%>					
			  		<p class="alert alert-info empty">You are not authorized in any application.</p> 
				<% } %>
 			</div>
  			<div class="panel-footer">
      			<a href="/idm/applications/">View All</a>
  			</div>
		</div>
		<div class="panel panel-default datatable" id="organizations" data-pagination-url="/filters/organizations" data-user_id="" data-pagination-pages="">
			<div class="panel-heading">
				<span class="title">Organizations</span>      
				<div class="table_actions clearfix">
    				<div id="spinner_organizations" class="loading-spinner-inline" style="display: none;"><i class="fa fa-circle-o-notch fa-spin"></i></div>
					<div class="btn-group"> 
						<a href="/idm/organizations/new" title="Create" class="btn btn-primary btn-sm" id="organizations__action_create_organization"> 
      						Create
						</a> 
  					</div>
				</div>
			</div>
			<div class="panel-body datatable-content">
			  	<% if (organizations.length > 0) { %>
					<div class="list-group" id="applications_content">
						<% var i; for (i=0; i < organizations.length; i++) { %> 
	  						<div class="list-group-item">
	  							<a class="item" href="/idm/organizations/<%= organizations[i].id %>">
	  								<div class="avatar filter_field">
											<img alt="application logo" src="<%= organizations[i].image %>">
										</div>
		  							<div class="name filter_field"><%= organizations[i].name %></div>
		    						<div class="description filter_field"><%= organizations[i].description %></div>
					  			</a>
					  		</div>
					  	<% } %>
				  	</div>
				<% } else { -%>
			  		<p class="alert alert-info empty">You don't have any organizations.</p>
				<% } %>			    
			</div>
  			<div class="panel-footer">
      			<a href="/idm/organizations/">View All</a>

			</div>
		</div>
    </div>
    <script src="/javascripts/tour.js"></script>
	<script type="text/javascript">
		$( document ).ready(function() {
			tours.initTour._options.onEnd = function() {
				$.ajax({
					type: "POST",
					url: "/idm/users/alexph91/tour_ended/",
					data: "Tour ended",
					dataType: 'html',
					beforeSend: beforeSend
				});
			};

			tours.initTour.init();
			tours.initTour.start();
		});
	</script>

</div>

