<!-- Form to create permission -->
<div id="create_permission" class="modal fade" style="top: 0px; display: none;" aria-hidden="false">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<a id="esc_perm_creation" class="close" data-dismiss="modal">×</a>
				<h3><%=translation.applications.create_permission.title%></h3>
			</div>
			<form id="create_permission_form" ng-controller="DummyCtrl" name="" autocomplete="off" class="" action="/idm/applications/<%= application.id %>/edit/permissions/create/" method="POST" enctype="">
				<input type='hidden' name='_csrf' value='<%= csrf_token%>' />
				<div class="modal-body clearfix">
					<span id="xml_with_action_and_resource_not_allow" style="display: none;" class='help-block alert alert-danger'><%=translation.applications.create_permission.alert01%></span>
					<% if (authorization_level === 'advanced') { -%>
						<span id="define_rule" style="display: none;" class='help-block alert alert-danger'><%=translation.applications.create_permission.alert02%></span>
					<% } else { -%>
						<span id="define_rule" style="display: none;" class='help-block alert alert-danger'><%=translation.applications.create_permission.alert03%></span>
					<% } -%>
					<fieldset>
						<input id="id_application_id" name="application_id" type="hidden" value="">
						<div class="form-group required">
							<label class="control-label  required" for="id_name"><%=translation.applications.create_permission.label01%></label>
							<div class=" ">
								<input class="form-control" id="id_name" maxlength="255" name="name" type="text">
							</div>
						</div>
						<span id="error_empty_name" style="display: none;" class='help-block alert alert-danger'><%=translation.applications.create_permission.required_field%></span>
						<div class="form-group required">
							<label class="control-label  required" for="id_description"><%=translation.applications.create_permission.label02%></label>
							<div class=" ">
								<input class="form-control" id="id_description" name="description" type="text">
							</div>
						</div>
						<span id="error_empty_description" style="display: none;" class='help-block alert alert-danger'><%=translation.applications.create_permission.required_field%></span>
						<div class="panel-group" id="accordion">
							<div class="panel">
								<div class="panel-headding">
									<a data-toggle="collapse" data-parent="#accordion" href="#collapse-verb-resource" class="panel-heading collapsed">
										<h4 class="panel-title panel-close">
											<%=translation.applications.create_permission.subtitle01%>
										</h4>
									</a>
								</div>
								<div id="collapse-verb-resource" class="panel-collapse collapsed in">
									<div class="panel-body">
										<div class="form-group ">
											<label class="control-label  " for="id_action"><%=translation.applications.create_permission.label03%></label>
											<div class=" ">
												<input class="form-control" id="id_action" maxlength="255" name="action" type="text">
											</div>
										</div>
										<div class="form-group ">
											<label class="control-label  " for="id_resource"><%=translation.applications.create_permission.label04%></label>
											<div class=" ">
												<input class="form-control" id="id_resource" maxlength="255" name="resource" type="text">
											</div>
										</div>
										<div class="form-check">
											<input class="form-check-input" id="id_is_regex"  name="is_regex" type="checkbox">
											<label class="control-label" for="id_is_regex"><%=translation.applications.create_permission.label_is_regex%></label>

										</div>
										<div class="form-group">
											<label class="control-label" for="id_authorization_service_header"><%=translation.applications.create_permission.label06%></label>
											<div class=" ">
												<input class="form-control" id="id_authorization_service_header" maxlength="255" name="authorization_service_header" type="text">
											</div>
										</div>
										<div class="form-check">
											<input class="form-check-input" id="id_use_authorization_service_header"  name="use_authorization_service_header" type="checkbox">
											<label class="control-label" for="id_use_authorization_service_header"><%=translation.applications.create_permission.label_use_authorization_service_header%></label>
										</div>
									</div>
								</div>
							<% if (authorization_level === 'advanced') { -%>
								<div class="panel">
									<div class="panel-headding">
										<a data-toggle="collapse" data-parent="#accordion" href="#collapse-xacml" class="panel-heading collapsed">
											<h4 class="panel-title panel-close">
												<%=translation.applications.create_permission.subtitle02%>
											</h4>
										</a>
									</div>
									<div id="collapse-xacml" class="panel-collapse collapse">
										<div class="panel-body">
											<div class="form-group ">
												<label class="control-label  " for="id_xml"><%=translation.applications.create_permission.label05%></label>
												<div class=" ">
													<textarea class="form-control" cols="40" id="id_xml" name="xml" rows="10"></textarea>
												</div>
											</div>
										</div>
									</div>
								</div>
							<% } -%>
							</div>
						</div>
					</fieldset>
				</div>
				<div class="modal-footer">
					<input class="btn btn-primary pull-right " type="submit" name="submit_permissions" value="<%=translation.applications.create_permission.save_btn%>">
				</div>
			</form>
		</div>
	</div>
</div>
