<div id="content_body">
	<div class="panel panel-default ">
		<div class="panel-body">
			<div id="" class="edit">
				<div class="modal-header">
					<h3>
						<%=translation.applications.edit.panel_title01%>
					</h3>
				</div>
				<form id="" ng-controller="DummyCtrl" name="" autocomplete="" class="ng-scope ng-pristine ng-valid" action="/idm/applications/<%= application.id %>/edit/info?_method=put" method="POST" enctype="">
					<input type='hidden' name='_csrf' value='<%= csrf_token%>' />
					<div class="modal-body clearfix">
						<fieldset>
							<input id="id_appID" name="appID" type="hidden">
							<input id="id_redirect_to" name="redirect_to" type="hidden" value="create">
							<div class="form-group required">
								<label class="control-label  required" for="id_name"><%=translation.applications.edit.label01%></label>
								<div class=" ">
									<input class="form-control" id="id_name" name="application[name]" type="text" value="<%= application.name %>">
								</div>
							</div>
							<% if (errors.indexOf("name") != -1) { %>
								<span class="help-block alert alert-danger "><%=translation.applications.edit.required_field%></span>
							<% } %>
							<div class="form-group required">
								<label class="control-label  required" for="id_description"><%=translation.applications.edit.label02%></label>
								<div class=" ">
									<textarea class="form-control" cols="40" id="id_description" name="application[description]" value="<%= application.description %>" rows="4" style="overflow: hidden; word-wrap: break-word; height: 86px;"><%= application.description %>
									</textarea>
								</div>
							</div>
							<% if (errors.indexOf("description") != -1) { %>
								<span class="help-block alert alert-danger "><%=translation.applications.edit.required_field%></span>
							<% } %>
							<div class="form-group required">
								<label class="control-label  required" for="id_url">
									<%=translation.applications.edit.label03%> 
									<a href="#" class="contextual-help" data-toggle="popover" data-placement="left" data-title="<%=translation.applications.edit.popover01_title%>" data-content="<%=translation.applications.edit.popover01_body%>" data-original-title="" title="">
										<i class="fa fa-question-circle"></i>
									</a>
								</label>
								<div class=" ">
									<input class="form-control" id="id_url" name="application[url]" type="text" value="<%= application.url %>">
								</div>
							</div>
							<% if (errors.indexOf("url") != -1) { %>
								<span class="help-block alert alert-danger "><%=translation.applications.edit.required_field%></span>
							<% } %>
							<% if (errors.indexOf("urlUsed") != -1) { %>
		                    <span class="help-block alert alert-danger "><%=translation.applications.edit.alert01%></span>
		                    <% } %>
							<div class="form-group required">
								<label class="control-label  required" for="id_callbackurl"><%=translation.applications.edit.label04%><a href="#" class="contextual-help" data-toggle="popover" data-placement="left" data-title="<%=translation.applications.edit.popover02_title%>" data-content="<%=translation.applications.edit.popover02_body%>" data-original-title="" title=""><i class="fa fa-question-circle"></i></a></label>
								<div class=" ">
									<input class="form-control" id="id_callbackurl" name="application[redirect_uri]" type="text" value="<%= application.redirect_uri %>" >
								</div>
							</div>
							<% if (errors.indexOf("redirectUri") != -1) { %>
								<span class="help-block alert alert-danger "><%=translation.applications.edit.required_field%></span>
							<% } %>
							<div class="form-group required">
		                        <label class="control-label  required" for="id_signout_callbackurl"><%=translation.applications.edit.label05%><a href="#" class="contextual-help" data-toggle="popover" data-placement="left" data-title="<%=translation.applications.edit.popover03_title%>" data-content="<%=translation.applications.edit.popover03_body%>" data-original-title="" title=""><i class="fa fa-question-circle"></i></a></label>
		                        <div class=" ">
		                            <input class="form-control" id="id_signout_callbackurl" name="application[redirect_sign_out_uri]" type="text" value="<%= application.redirect_sign_out_uri %>" >
		                        </div>
		                    </div>
							<div class="form-group required">
					          <label class="control-label  required" for="id_grant_type">
					            <%=translation.applications.edit.label06%>
					            <a href="#" class="contextual-help" data-toggle="popover" data-placement="left" data-title="<%=translation.applications.edit.popover04_title%>" data-content="<%=translation.applications.edit.popover04_body%>" data-original-title="" title="">
					              <i class="fa fa-question-circle"></i>
					            </a>
					          </label>
					          <div class="select-multiple">
					            <select name="application[grant_type]" class="selectpicker" data-dropup-auto="false" multiple>
					            	<% if (application.grant_type.includes('authorization_code')) { %>
										<option selected name="[authorization_code]" value="authorization_code">Authorization Code</option>
					            	<% } else { %>
					            		<option value="authorization_code" name="[authorization_code]">Authorization Code</option>
					            	<% } %>
					            	<% if (application.grant_type.includes('implicit')) { %>
										<option selected name="[implicit]" value="implicit">Implicit</option>
					            	<% } else { %>
					            		<option value="implicit" name="[implicit]">Implicit</option>
					            	<% } %>
					            	<% if (application.grant_type.includes('password')) { %>
										<option selected value="password" name="[password]">Resource Owner Password</option>
					            	<% } else { %>
					            		<option value="password" name="[password]">Resource Owner Password</option>
					            	<% } %>
					            	<% if (application.grant_type.includes('client_credentials')) { %>
										<option selected value="client_credentials" name="[client_credentials]">Client Credentials</option>
					            	<% } else { %>
					            		<option value="client_credentials" name="[client_credentials]">Client Credentials</option>
					            	<% } %>
					            	<% if (application.grant_type.includes('refresh_token')) { %>
										<option selected value="refresh_token" name="[refresh_token]">Refresh Token</option>
					            	<% } else { %>
					            		<option value="refresh_token" name="[refresh_token]">Refresh Token</option>
					            	<% } %>
					            	<% if (application.grant_type.includes('hybrid')) { %>
										<option selected value="hybrid" name="[hybrid]">Hybrid</option>
					            	<% } else { %>
					            		<option value="hybrid" name="[hybrid]">Hybrid</option>
					            	<% } %>
					            </select>
					          </div>
					        </div>
					        <div class="form-group required">
		                        <label class="control-label required" for="id_provider">
		                            <a href="#" class="contextual-help" data-toggle="popover" data-placement="left" data-title="<%=translation.applications.edit.popover05_title%>" data-content="<%=translation.applications.edit.popover05_body%>" data-original-title="" title="">
		                                <i class="fa fa-question-circle"></i>
		                            </a>
		                            <div class="checkbox">
		                            	<% if (application.response_type.includes('id_token')) { %>
											<label><input type="checkbox" name="openID" value="openID" checked><%=translation.applications.new.label09%>
		                                </label>
						            	<% } else { %>
						            		<label><input type="checkbox" name="openID" value="openID"><%=translation.applications.new.label09%>
		                                </label>
						            	<% } %>
		                            </div>
		                        </label>
		                    </div>
						</fieldset>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-primary"><%=translation.applications.edit.save_btn%></button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="panel panel-default ">
		<div class="panel-body">
			<div id="" class="edit update-avatar-modal">
				<div class="modal-header">
					<h3>
						<%=translation.applications.edit.panel_title02%>
					</h3>
				</div>
				<form id="create_avatar_form" ng-controller="DummyCtrl" name="" autocomplete="" class="ng-scope ng-pristine ng-valid" action="/idm/applications/<%= application.id %>/edit/avatar?_method=put" method="POST" enctype="multipart/form-data">
					<input type='hidden' name='_csrf' value='<%= csrf_token%>' />
					<input id="submit_avatar" type="hidden" name="" value="">
					<div class="modal-body clearfix">
						<div class="row">
							<div class="avatar_col col-xs-12 col-md-6 used-avatar">
								<div class="profile_img">
									<img id="avatar-update" src="<%= application.image %>" alt="uploaded image" style="width: 100px; height: 100px;">
								</div>
								<div class="profile_actions">
									<% if (application.image != "/img/logos/original/app.png") { -%>
										<button id="delete_image_button" class="btn btn-primary always-enabled ajax-modal" href="/idm/applications/<%= application.id %>/edit/delete_image/"><%=translation.applications.edit.delete_image_btn%></button>
									<% } else { -%>
										<button id="delete_image_button" class="btn btn-primary always-enabled ajax-modal" href="/idm/applications/<%= application.id %>/edit/delete_image/" disabled="disabled"><%=translation.applications.edit.delete_image_btn%></button>
									<% } -%>
								</div>
							</div>
						</div>
						<div>
							<fieldset>
								<h6><%=translation.applications.edit.content01%></h6> 
								<input id="id_x" name="x" type="hidden">
								<input id="id_y" name="y" type="hidden">
								<input id="id_w" name="w" type="hidden">
								<input id="id_h" name="h" type="hidden">
								<div class="form-group ">
									<label class="control-label" for="id_image"></label>
									<div id="image_selected" class="">
										<input id="id_image" accept="image/*" name="image" type="file">
									</div>
								</div>
							</fieldset>
						</div>
						<div class="row avatar-update-container">
							<div class="col-md-10" style="display:none;">
								<img id="avatar-update" src="/img/logos/original/app.png">
							</div>
							<div class="col-md-2 update_actions" style="display:none;">
								<h6><%=translation.applications.edit.content02%></h6>
								<button id="crop-and-use-button" class="btn btn-primary always-enabled" name="crop_and_use" type="submit"><%=translation.applications.edit.crop_btn%></button>
								<a href="#" class="btn btn-default always-enabled" id="cancel-crop-button"><%=translation.applications.edit.cancel_btn%></a>
							</div>
						</div>
					</div>
					<div class="modal-footer">
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="panel panel-default cancel_account">
		<div class="panel-body">
			<div id="cancel-application-modal" class="edit">
				<div class="modal-header"></div>
				<form id="" ng-controller="DummyCtrl" name="" autocomplete="" class="ng-scope ng-pristine ng-valid" action="/idm/applications/<%= application.id %>?_method=delete" method="POST">
					<input type='hidden' name='_csrf' value='<%= csrf_token%>' />
					<div class="modal-body clearfix">
						<a class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#destroy_application">
							<h3>
								<%=translation.applications.edit.panel_title03%>
							</h3>
						</a>
						<div>
							<fieldset>
								<input id="id_appID" name="appID" type="hidden" value="7d8e913b71bd437c9e92e8dff3eb2e8e">
							</fieldset>
						</div>
					</div>
					<div class="modal-footer">
						<div id="destroy_application" class="panel-collapse collapse">
							<span><%=translation.applications.edit.content03%></span>
							<button type="submit" class="btn btn-danger">
								<%=translation.applications.edit.delete_app_btn%>
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="messages"></div>
<%- include _delete_avatar %>
<%- include ../templates/./other/./_info_message %>
<script src="/javascripts/applications/handle_edit_application.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
      $('[data-toggle="popover"]').popover({html:true});
      //$('[data-toggle="tooltip"]').tooltip();
    });
</script>