<% var nameErrors = [] %>
<% if (errors.length) { %>
    <% for (var i in errors) { %>
    	<% nameErrors.push(errors[i].message)%>
    <% } %>
<% } %>

<div id="content_body">
	<div class="panel panel-default ">
		<div class="panel-body">
			<div id="" class="edit">
				<div class="modal-header">
					<h3>
						Application Information
					</h3>
				</div>
				<form id="" ng-controller="DummyCtrl" name="" autocomplete="" class="ng-scope ng-pristine ng-valid" action="/idm/applications/<%= application.id %>/edit/info?_method=put" method="POST" enctype=""><input type="hidden" name="" value="">
					<div class="modal-body clearfix">

						<fieldset>
							<input id="id_appID" name="appID" type="hidden">
							<input id="id_redirect_to" name="redirect_to" type="hidden" value="create">

							<div class="form-group required">
								<label class="control-label  required" for="id_name">Name</label>
								<div class=" ">
									<input class="form-control" id="id_name" name="application[name]" type="text" value="<%= application.name %>">
								</div>
							</div>
							<% if (nameErrors.indexOf("name") != -1) { %>
							<span class="help-block alert alert-danger ">Este campo es obligatorio.</span>
							<% } %>

							<div class="form-group required">
								<label class="control-label  required" for="id_description">Description</label>
								<div class=" ">
									<textarea class="form-control" cols="40" id="id_description" name="application[description]" value="<%= application.description %>" rows="4" style="overflow: hidden; word-wrap: break-word; height: 86px;"><%= application.description %>
									</textarea>
								</div>
							</div>
							<% if (nameErrors.indexOf("description") != -1) { %>
							<span class="help-block alert alert-danger ">Este campo es obligatorio.</span>
							<% } %>

							<div class="form-group required">
								<label class="control-label  required" for="id_url">
									URL 
									<a href="#" class="contextual-help" data-toggle="popover" data-placement="left" data-title="Application URL" data-content="For security purposes, only OAuth requests coming from this URL will be accepted by KeyRock." data-original-title="" title="">
										<i class="fa fa-question-circle"></i>
									</a>
								</label>
								<div class=" ">
									<input class="form-control" id="id_url" name="application[url]" type="text" value="<%= application.url %>">
								</div>
							</div>
							<% if (nameErrors.indexOf("url") != -1) { %>
							<span class="help-block alert alert-danger ">Este campo es obligatorio.</span>
							<% } %>

							<div class="form-group required">
								<label class="control-label  required" for="id_callbackurl">Callback URL <a href="#" class="contextual-help" data-toggle="popover" data-placement="left" data-title="Application Callback URL" data-content="The user agent will be redirected to this URL when OAuth flow is finished." data-original-title="" title=""><i class="fa fa-question-circle"></i></a></label>
								<div class=" ">
									<input class="form-control" id="id_callbackurl" name="application[redirect_uri]" type="text" value="<%= application.redirect_uri %>" >
								</div>
							</div>
							<% if (nameErrors.indexOf("redirectUri") != -1) { %>
							<span class="help-block alert alert-danger ">Este campo es obligatorio.</span>
							<% } %>

						</fieldset>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-primary">Next</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="panel panel-default ">
		<div class="panel-body">
			<div id="" class="edit update-avatar-modal">
				<div class="modal-header">
					<h3>
						Application Avatar
					</h3>
				</div>
				<form id="create_avatar_form" ng-controller="DummyCtrl" name="" autocomplete="" class="ng-scope ng-pristine ng-valid" action="/idm/applications/<%= application.id %>/edit/avatar?_method=put" method="POST" enctype="multipart/form-data">
					<input id="submit_avatar" type="hidden" name="" value="">
					<div class="modal-body clearfix">
						<div class="row">
							<div class="avatar_col col-xs-12 col-md-6 used-avatar">
								<div class="profile_img">
									<img id="avatar-update" src="<%= application.image %>" alt="uploaded image" style="width: 100px; height: 100px;">
								</div>
								<div class="profile_actions">
									<% if (application.image != "/img/logos/original/app.png") { -%>
										<button id="delete_image_button" class="btn btn-primary always-enabled ajax-modal" href="/idm/applications/<%= application.id %>/edit/delete_image/">Delete this image</button>
									<% } else { -%>
										<button id="delete_image_button" class="btn btn-primary always-enabled ajax-modal" href="/idm/applications/<%= application.id %>/edit/delete_image/" disabled="disabled">Delete this image</button>
									<% } -%>
								</div>
							</div>
						</div>
						<div>
							<fieldset>
								<h6>Upload an image</h6> 
								<input id="id_x" name="x" type="hidden">
								<input id="id_y" name="y" type="hidden">
								<input id="id_w" name="w" type="hidden">
								<input id="id_h" name="h" type="hidden">
								<div class="form-group ">
									<label class="control-label" for="id_image"></label>
									<div id="image_selected" class="">
										<input id="id_image" accept="image/*" name="image" type="file">
									</div>
								</div>
							</fieldset>
						</div>
						<div class="row avatar-update-container">
							<div class="col-md-10" style="display:none;">
								<img id="avatar-update" src="/img/logos/original/app.png">
							</div>
							<div class="col-md-2 update_actions" style="display:none;">
								<h6>Select the part of the image you want to use as avatar.</h6>
								<button id="crop-and-use-button" class="btn btn-primary always-enabled" name="crop_and_use" type="submit">Crop and use</button>
								<a href="#" class="btn btn-default always-enabled" id="cancel-crop-button">Cancel</a>
							</div>
						</div>
					</div>
					<div class="modal-footer">
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="panel panel-default cancel_account">
		<div class="panel-body">
			<div id="cancel-application-modal" class="edit">
				<div class="modal-header">
					<h3>
						Cancel
					</h3>
				</div>
				<form id="" ng-controller="DummyCtrl" name="" autocomplete="" class="ng-scope ng-pristine ng-valid" action="/idm/applications/<%= application.id %>?_method=delete" method="POST" enctype="multipart/form-data">
					<input type="hidden" name="" value="">
					<div class="modal-body clearfix">
						<a class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#destroy_application">
							<h3>
								Remove Application
							</h3>
						</a>
						<div>
							<fieldset>
								<input id="id_appID" name="appID" type="hidden" value="7d8e913b71bd437c9e92e8dff3eb2e8e">
							</fieldset>
						</div>
					</div>
					<div class="modal-footer">
						<div id="destroy_application" class="panel-collapse collapse">
							<span>This will remove the application and all its data</span>
							<button type="submit" class="btn btn-danger">
								Delete Application
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<%- include _delete_avatar %>

<%- include templates/_info_message %>

<script src="/javascripts/applications/handle_edit_application.js" type="text/javascript"></script>

<script type="text/javascript">
    $(function () {
      $('[data-toggle="popover"]').popover({html:true});
      //$('[data-toggle="tooltip"]').tooltip();
    });
</script>

<div class="messages"></div>