<div id="content_body">
    <div id="create_application_modal" class="static_page">
        <div class="modal-header">
            <h3>
                <div class="steps-group">
                    <div class="step active">1</div>
                    <div class="step">2</div>
                    <div class="step">3</div>
                    <div class="line"></div>
                </div>
            </h3><h3 class="step-title"><%=translation.applications.new.title%></h3>
        </div>
        <form id="" ng-controller="DummyCtrl" name="" autocomplete="" class="ng-scope ng-pristine ng-valid" action="/idm/applications" method="POST" enctype="">
            <input type='hidden' name='_csrf' value='<%= csrf_token%>' />
            <div class="modal-body clearfix">
                <fieldset>
                    <div class="form-group required">
                        <label class="control-label  required" for="id_name"><%=translation.applications.new.label01%></label>
                        <div class=" ">
                            <input class="form-control" id="id_name" name="application[name]" type="text" value="<%= application.name %>">
                        </div>
                    </div>
                    <% if (errors.indexOf("name") != -1) { %>
                    <span class="help-block alert alert-danger "><%=translation.applications.new.required_field%></span>
                    <% } %>
                    <div class="form-group required">
                        <label class="control-label  required" for="id_description"><%=translation.applications.new.label02%></label>
                        <div class=" ">
                            <textarea class="form-control" cols="40" id="id_description" name="application[description]" value="<%= application.description %>" rows="4" style="overflow: hidden; word-wrap: break-word; height: 86px;"><%= application.description %></textarea>
                        </div>
                    </div>
                    <% if (errors.indexOf("description") != -1) { %>
                    <span class="help-block alert alert-danger "><%=translation.applications.new.required_field%></span>
                    <% } %>
                    <div class="form-group required">
                        <label class="control-label  required" for="id_url">
                            <%=translation.applications.new.label03%> 
                            <a href="#" class="contextual-help" data-toggle="popover" data-placement="left" data-title="<%=translation.applications.new.popover01_title%>" data-content="<%=translation.applications.new.popover01_body%>" data-original-title="" title="">
                                <i class="fa fa-question-circle"></i>
                            </a>
                        </label>
                        <div class=" ">
                            <input class="form-control" id="id_url" name="application[url]" type="text" value="<%= application.url %>">
                        </div>
                    </div>
                    <% if (errors.indexOf("url") != -1) { %>
                    <span class="help-block alert alert-danger "><%=translation.applications.new.required_field%></span>
                    <% } %>
                    <% if (errors.indexOf("urlUsed") != -1) { %>
                    <span class="help-block alert alert-danger "><%=translation.applications.new.alert01%></span>
                    <% } %>
                    <div class="form-group required">
                        <label class="control-label  required" for="id_callbackurl"><%=translation.applications.new.label04%> <a href="#" class="contextual-help" data-toggle="popover" data-placement="left" data-title="<%=translation.applications.new.popover02_title%>" data-content="<%=translation.applications.new.popover02_body%>" data-original-title="" title=""><i class="fa fa-question-circle"></i></a></label>
                        <div class=" ">
                            <input class="form-control" id="id_callbackurl" name="application[redirect_uri]" type="text" value="<%= application.redirect_uri %>" >
                        </div>
                    </div>
                    <% if (errors.indexOf("redirectUri") != -1) { %>
                    <span class="help-block alert alert-danger "><%=translation.applications.new.required_field%></span>
                    <% } %>
                    <div class="form-group required">
                        <label class="control-label  required" for="id_signout_callbackurl"><%=translation.applications.new.label05%><a href="#" class="contextual-help" data-toggle="popover" data-placement="left" data-title="<%=translation.applications.new.popover03_title%>" data-content="<%=translation.applications.new.popover03_body%>" data-original-title="" title=""><i class="fa fa-question-circle"></i></a></label>
                        <div class=" ">
                            <input class="form-control" id="id_signout_callbackurl" name="application[redirect_sign_out_uri]" type="text" value="<%= application.redirect_sign_out_uri %>" >
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label  required" for="id_grant_type">
                            <%=translation.applications.new.label06%>
                            <a href="#" class="contextual-help" data-toggle="popover" data-placement="left" data-title="<%=translation.applications.new.popover04_title%>" data-content="<%=translation.applications.new.popover04_body%>" data-original-title="" title="">
                                <i class="fa fa-question-circle"></i>
                            </a>
                        </label>
                        <div class="select-multiple">
                            <select name="grant_type[]" class="selectpicker" data-dropup-auto="false" multiple>
                                <option selected value="authorization_code">Authorization Code</option>
                                <option selected value="implicit">Implicit</option>
                                <option selected value="password">Resource Owner Password</option>
                                <option selected value="client_credentials">Client Credentials</option>
                                <option selected value="refresh_token">Refresh Token</option>
                                <option selected value="hybrid">Hybrid</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label required" for="id_provider">
                            <a href="#" class="contextual-help" data-toggle="popover" data-placement="left" data-title="<%=translation.applications.new.popover07_title%>" data-content="<%=translation.applications.new.popover07_body%>" data-original-title="" title="">
                                <i class="fa fa-question-circle"></i>
                            </a>
                            <div class="checkbox">
                                <label><input type="checkbox" name="openID" value="openID"><%=translation.applications.new.label09%>
                                </label>
                            </div>
                        </label>
                    </div>
                    <div class="form-group required">
                        <label class="control-label  required" for="id_provider">
                            <%=translation.applications.new.label07%>
                            <a href="#" class="contextual-help" data-toggle="popover" data-placement="left" data-title="<%=translation.applications.new.popover05_title%>" data-content="<%=translation.applications.new.popover05_body%>" data-original-title="" title="">
                                <i class="fa fa-question-circle"></i>
                            </a>
                        </label>
                        <div class="select-multiple">
                            <select name="provider" class="selectpicker" data-dropup-auto="false">
                                <optgroup label="User">
                                    <option value="<%= session.user.id %>" ><%= session.user.username %></option>
                                </optgroup>
                                <% if (organizations.length > 0) { -%>
                                <optgroup label="Organizations">
                                    <% for (var i = 0; i < organizations.length; i++) { -%>
                                    <option value="<%= organizations[i].Organization.id %>"><%= organizations[i].Organization.name %></option>  
                                    <% } -%>  
                                </optgroup>       
                                <% } -%>
                            </select>
                        </div>
                    </div>
                    <% if (eidas_enabled) { -%>
                        <div class="form-group required">
                            <label class="control-label required" for="id_provider">
                                <a href="#" class="contextual-help" data-toggle="popover" data-placement="left" data-title="<%=translation.applications.new.popover05_title%>" data-content="<%=translation.applications.new.popover05_body%>" data-original-title="" title="">
                                    <i class="fa fa-question-circle"></i>
                                </a>
                                <div class="checkbox">
                                    <label><input type="checkbox" name="eidas" value="eidas"><%=translation.applications.new.label08%>
                                    </label>
                                </div>
                            </label>
                        </div>
                    <% } -%>
                </fieldset>
            </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary"><%=translation.applications.new.next_btn%></button>
        </div>
    </form>
</div>
</div>
<script type="text/javascript">
    $(function () {
        $('[data-toggle="popover"]').popover({html:true});
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>