<div id="content_body">
    <div id="detailApplication">
        <header>
            <h4 class="name">
                <%= application.name %>
                <% if (user_logged_permissions.includes('2')) { -%>   
                    <a href="/idm/applications/<%= application.id %>/edit/" class="small">
                        <i class="fa fa-edit"></i>
                        <span><%=translation.applications.show.span01%></span>
                    </a>
                <% } -%>
                <% if (user_logged_permissions.includes('3')) { -%>
                    <a href="/idm/applications/<%= application.id %>/edit/roles/" class="small">
                    <% if (data_usage_enabled) { -%>
                        <i class="fas fa-door-open"></i>
                        <span><%=translation.applications.show.span03%></span>
                    <% } else { -%>
                        <i class="fa fa-cogs"></i>
                        <span><%=translation.applications.show.span02%></span>
                    <% } -%>
                    </a>
                <% } -%>
            </h4>
            <div class="logo">
                <img alt="application logo" src="<%= application.image %>">
            </div>
        </header>
        <div class="panel panel-default info">
            <div class="panel-body">
                <div class="description">
                    <h5>
                        <%=translation.applications.show.label01%>
                    </h5>
                    <div class="info expander">
                        <p>
                        <%  var lines = application.description.split(/\r\n|\r|\n/)%>
                        <% for (var i = 0; i < lines.length; i++) { -%>
                            <% if (lines[i].replace(/^\s+/, '').replace(/\s+$/, '') !== '') { -%>
                                <%= lines[i] %>
                                <br>
                            <% } -%>
                        <% } -%>
                        </p>
                    </div>
                </div>
                <div class="url">
                    <h5><%=translation.applications.show.label02%></h5>
                    <p><%= application.url %></p>
                </div>
                <div class="callback_url">
                    <h5><%=translation.applications.show.label03%></h5>
                    <p><%= application.redirect_uri %></p>
                </div>
                <% if (application.redirect_sign_out_uri) { -%>
                    <div class="sign_out_callback_url">
                        <h5>Sign-out Callback Url</h5>
                        <p><%= application.redirect_sign_out_uri %></p>
                    </div>
                <% } -%>
                <% if (user_logged_permissions.some(r=> ['1', '5', '6'].includes(r))) { -%>
                    <div class="extra">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse_oauth2_credentials" aria-expanded="true" aria-controls="collapse_oauth2_credentials" class="collapsed">
                                <%=translation.applications.show.panel_title01%> <i class="fa fa-angle-up"></i>
                            </a>
                            <a href="#" class="contextual-help" data-toggle="popover" data-title="<%=translation.applications.show.popover01_title%>" data-placement="left" data-content="<%=translation.applications.show.popover01_body%>" data-original-title="" title=""><i class="fa fa-question-circle"></i></a>
                        </h4>
                        <div class="collapse_out">
                            <div id="collapse_oauth2_credentials" class="form-group collapse" role="tabpanel">
                                <div>
                                    <h6 class="panel-heading"><%=translation.applications.show.panel_subtitle01%></h6>
                                    <p><%= application.id %></p>
                                </div>
                                <div>
                                    <h6 class="panel-heading"><%=translation.applications.show.panel_subtitle02%></h6>
                                    <p><%= application.secret %></p>
                                </div>
                                <% if (application.token_types.includes('jwt')) { -%>
                                    <div id="token_type" class="jwt_type">
                                <% } else { -%>
                                    <div id="token_type">
                                <% } -%>
                                    <h6 class="panel-heading">
                                        <%=translation.applications.show.panel_subtitle03%>
                                        <a href="#" class="contextual-help" data-toggle="popover" data-title="<%=translation.applications.show.popover02_title%>" data-placement="left" data-content="<%=translation.applications.show.popover02_body%>" data-original-title="" title=""><i class="fa fa-question-circle"></i></a>
                                    </h6>
                                    <div class="select-multiple">
                                        <select id="select_toke_type" name="token_types[]" class="selectpicker" data-dropup-auto="false" multiple>
                                            <% if (application.token_types.includes('jwt')) { %>
                                                <option selected value="jwt">Json Web Token</option>
                                            <% } else { %>
                                                <option value="jwt">Json Web Token</option>
                                            <% } %>
                                            <% if (application.token_types.includes('permanent')) { %>
                                                <option selected value="permanent"><%=translation.applications.show.permanent_option%></option>
                                            <% } else { %>
                                                <option value="permanent"><%=translation.applications.show.permanent_option%></option>
                                            <% } %>
                                        </select>
                                        <% if (application.token_types.includes('jwt')) { -%>
                                            <div id="jwt_secret" class="row" style="display: block;">
                                        <% } else { -%>
                                            <div id="jwt_secret" class="row" style="display: none;">
                                        <% } -%>
                                            <div class="col-md-10 sub-panel">
                                                <h6 class="panel-heading"><%=translation.applications.show.panel_subtitle04%></h6>
                                                <p id="secret"><%= application.jwt_secret%></p>
                                            </div>
                                            <div class="col-md-2 actions_token_type">
                                                <br>
                                                <a href="/idm/applications/<%= application.id %>/token_types/reset" class="btn btn-default reset_secret"><%=translation.applications.show.reset_secret_btn%></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% if (application.response_type.includes('id_token')) { -%>
                            <h4 class="panel-title" id="oic_title">
                                <a data-toggle="collapse" href="#collapse_oic_credentials" aria-expanded="true" aria-controls="collapse_oic_credentials" class="collapsed">
                                    <%=translation.applications.show.panel_title08%> <i class="fa fa-angle-up"></i>
                                </a>
                                <a href="#" class="contextual-help" data-toggle="popover" data-title="<%=translation.applications.show.popover05_title%>" data-placement="left" data-content="<%=translation.applications.show.popover05_body%>" data-original-title="" title=""><i class="fa fa-question-circle"></i></a>
                            </h4>
                            <div class="collapse_out">
                                <div id="collapse_oic_credentials" class="form-group collapse" role="tabpanel">
                                    <div>
                                        <h6 class="panel-heading"><%=translation.applications.show.panel_subtitle05%></h6>
                                        <p><%= application.jwt_secret%></p>
                                    </div>
                                </div>
                            </div>
                        <% } -%>
                    </div>
                <% } -%>
            </div>
        </div>
        <% if (user_logged_permissions.includes('2')) { -%>
            <div class="panel panel-default info">
                <div class="panel-body">
                    <div class="extra">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse_pep_proxy" aria-expanded="true" aria-controls="collapse_pep_proxy" class="collapsed">
                                <%=translation.applications.show.panel_title02%> <i class="fa fa-angle-up"></i>
                            </a>
                            <a href="#" class="contextual-help" data-toggle="popover" data-title="<%=translation.applications.show.popover03_title%>" data-placement="left" data-content="<%=translation.applications.show.popover03_body%>" data-original-title="" title=""><i class="fa fa-question-circle"></i></a>
                        </h4>
                        <div id="collapse_pep_proxy" class="form-group collapse " role="tabpanel">
                            <% if (pep_proxy) { -%>
                                <div class="row content_pep">
                                    <div class="col-md-8 user_pep">
                                        <h6 class="panel-heading"><%=translation.applications.show.label04%></h6>
                                        <p><%= application.id%></p>
                                    </div>
                                </div>
                                <div class="row content_pep">
                                    <div class="col-md-8 user_pep">
                                        <h6 class="panel-heading"><%=translation.applications.show.label05%></h6>
                                        <p><%= pep_proxy.id%></p>
                                    </div>
                                    <div class="col-md-4 actions_pep">
                                        <br>
                                        <a href="/idm/applications/<%= application.id %>/pep/<%= pep_proxy.id%>/reset_password" class="btn btn-default reset_password"><%=translation.applications.show.reset_pep_btn%></a>
                                        <a href="/idm/applications/<%= application.id %>/pep/<%= pep_proxy.id%>/delete" class="btn btn-danger delete_pep">
                                            <i class="far fa-trash-alt"></i> <%=translation.applications.show.delete_pep_btn%>
                                        </a>
                                    </div>
                                </div>
                            <% } else { -%>
                                <h6 class="panel-heading"></h6>
                                <a id="register_pep" href="/idm/applications/<%= application.id %>/pep/register/" class="btn btn-default"><%=translation.applications.show.register_pep_btn%></a>            
                            <% } -%>
                        </div>
                    </div>
                </div>
            </div>
        <% } -%>
        <% if (user_logged_permissions.includes('2')) { -%>
            <div class="panel panel-default info">
                <div class="panel-body">
                    <div class="extra">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse_iot_sensors" aria-expanded="true" aria-controls="collapse_iot_sensors" class="collapsed">
                                <%=translation.applications.show.panel_title03%> <i class="fa fa-angle-up"></i>
                            </a>
                            <a href="#" class="contextual-help" data-toggle="popover" data-title="<%=translation.applications.show.popover04_title%>" data-placement="left" data-content="<%=translation.applications.show.popover04_body%>" data-original-title="" title=""><i class="fa fa-question-circle"></i></a>
                        </h4>
                        <div id="collapse_iot_sensors" class="form-group collapse  no-transition" role="tabpanel">
                            <% if (iot_sensors.length > 0) { -%>
                                <% for (var i = 0; i < iot_sensors.length; i++) { -%>
                                    <div class="row content_iot">
                                        <div class="col-md-8 user_iot">
                                            <h6 class="panel-heading"><%=translation.applications.show.label06%> <%= i+1%></h6>
                                            <p><%= iot_sensors[i].id%></p>
                                        </div>
                                        <div class="col-md-4 actions_iot">
                                            <br>
                                            <a href="/idm/applications/<%= application.id %>/iot/<%= iot_sensors[i].id%>/reset_password" class="btn btn-default  reset_password"><%=translation.applications.show.reset_pep_btn%></a>
                                            <a href="/idm/applications/<%= application.id %>/iot/<%= iot_sensors[i].id%>/delete" class="btn btn-danger delete_iot">
                                                <i class="far fa-trash-alt"></i> <%=translation.applications.show.delete_iot_btn%>
                                            </a>
                                        </div>
                                    </div>
                                <% } -%>
                            <% } -%>
                            <h6 class="panel-heading"></h6>
                            <a id="register_iot" href="/idm/applications/<%= application.id %>/iot/register/" class="btn btn-default"><%=translation.applications.show.register_iot_btn%></a>
                        </div>
                    </div>
                </div>
            </div>
        <% } -%>
        <% if (user_logged_permissions.includes('2')) { -%>
        <div class="panel panel-default datatable" id="trust_apps" data-pagination-url="/filters/applications" data-application_id="<%= application.id %>" data-pagination-pages="">
            <div class="panel-heading">
                <span class="title"><%=translation.applications.show.panel_title04%></span>
                <div class="table_actions clearfix">
                    <div class="filter table_search client">
                        <input class="form-control" value="" type="text" name="trust_apps__filter__q" placeholder="<%=translation.applications.show.placeholder_input%>">
                    </div>
                    <div id="spinner_trust_apps" class="filtering-spinner-inline" style="display: none;"><i class="fa fa-circle-o-notch fa-spin"></i></div>                    
                    <% if (user_logged_permissions.some(r=> ['1', '5', '6'].includes(r))) { -%>
                        <div class="btn-group"> 
                            <button title="Add" class="btn btn-default btn-sm ajax-modal" data-toggle="modal" data-target="#add_trusted_app" id="add_trusted_app_button">
                                <i class="fa fa-plus"></i> 
                                <span class="action">
                                    <%=translation.applications.show.add_trusted_btn%>
                                </span>
                            </button>
                        </div>
                    <% } -%>
                </div>
            </div>
            <div class="panel-body datatable-content">
                <div id="trust_apps_content" class="list-group">
                    <p class="alert alert-info empty" style="display: none;"><%=translation.applications.show.content01%></p>
                </div>
            </div>
            <div class="panel-footer">
                <nav id="trust_apps_pagination_container"></nav>
            </div>
        </div>
        <% } -%>
        <div class="panel panel-default datatable" id="auth_users" data-pagination-url="/filters/users" data-application_id="<%= application.id %>" data-pagination-pages="">
            <div class="panel-heading">
                <span class="title"><%=translation.applications.show.panel_title05%></span>
                <div class="table_actions clearfix">
                    <div class="filter table_search client">
                        <input class="form-control" value="" type="text" name="auth_users__filter__q" placeholder="<%=translation.applications.show.placeholder_input%>">
                    </div>
                    <div id="spinner_auth_users" class="filtering-spinner-inline" style="display: none;"><i class="fa fa-circle-o-notch fa-spin"></i></div>                    
                    <% if (user_logged_permissions.some(r=> ['1', '5', '6'].includes(r))) { -%>
                        <div class="btn-group"> 
                            <button title="Authorize" class="btn btn-default btn-sm ajax-modal" data-toggle="modal" data-target="#authorize_user" id="auth_users_action_manage_application_users">
                                <i class="fa fa-key"></i> 
                                <span class="action">
                                    <%=translation.applications.show.authorize_btn%>
                                </span>
                            </button>
                        </div>
                    <% } -%>
                </div>
            </div>
            <div class="panel-body datatable-content">
                <div id="auth_users_content" class="list-group">
                    <p class="alert alert-info empty" style="display: none;"><%=translation.applications.show.content02%></p>
                </div>
            </div>
            <div class="panel-footer">
                <nav id="auth_users_pagination_container"></nav>
            </div>
        </div>

        <div class="panel panel-default datatable" id="auth_organizations" data-pagination-url="/filters/organizations" data-application_id="<%= application.id %>" data-pagination-pages="">
            <div class="panel-heading">
                <span class="title"><%=translation.applications.show.panel_title06%></span>
                <div class="table_actions clearfix">
                    <div class="filter table_search client">
                        <input class="form-control" value="" type="text" name="organizations__filter__q" placeholder="<%=translation.applications.show.placeholder_input%>">
                    </div>
                    <div id="spinner_organizations" class="filtering-spinner-inline" style="display: none;"><i class="fa fa-circle-o-notch fa-spin"></i></div>
                    <% if (user_logged_permissions.some(r=> ['1', '5', '6'].includes(r))) { -%>
                        <div class="btn-group"> 
                            <button title="Authorize" data-toggle="modal" data-target="#authorize_organization" class="btn btn-default btn-sm ajax-modal" id="auth_organizations_action_manage_application_organizations">
                                <i class="fa fa-key"></i> 
                                <span class="action">
                                    <%=translation.applications.show.authorize_btn%>
                                </span>
                            </button>
                        </div>
                    <% } -%>
                </div>
            </div>
            <div class="panel-body datatable-content">
                <div id="auth_organizations_content" class="list-group">
                    <p class="alert alert-info empty" style="display: none;"><%=translation.applications.show.content03%></p>                    
                </div>
            </div>
            <div class="panel-footer">
                <nav id="auth_organizations_pagination_container"></nav>
            </div>
        </div>
        <% if (user_logged_permissions.includes('2') && eidas_enabled && eidas_credentials) { -%>
            <div class="panel panel-default info">
                <div class="panel-heading">
                    <span class="title"><i class="far fa-id-card"></i><%=translation.applications.show.panel_title07%></span>
                    <div class="table_actions clearfix">               
                        <div class="btn-group">
                            <a href="/idm/applications/<%= application.id %>/edit/eidas" class="small">
                                <button title="Add" class="btn btn-default btn-sm">
                                    <i class="fa fa-edit"></i> 
                                    <span class="action">
                                        <%=translation.applications.show.edit_btn%>
                                    </span>
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="eidas_org_name">
                        <h5><%=translation.applications.show.label07%></h5>
                        <p><%= eidas_credentials.organization_name %></p>
                    </div>
                    <div class="eidas_org_nif">
                        <h5><%=translation.applications.show.label08%></h5>
                        <p><%= eidas_credentials.organization_nif %></p>
                    </div>
                    <div class="eidas_sp_type">
                        <h5><%=translation.applications.show.label09%></h5>
                        <p><%= eidas_credentials.sp_type %></p>
                    </div>
                    <div class="eidas_metadata_url">
                        <h5><%=translation.applications.show.label10%></h5>
                        <p><a target="_blank" href="/idm/applications/<%= application.id %>/saml2/metadata">https://<%= gateway_host%>/idm/applications/<%= application.id %>/saml2/metadata</a></p>
                    </div>
                </div>
            </div>
        <% } -%>

    </div>
</div>

<%- include _authorize_user %>
<%- include _authorize_organization %>
<%- include _add_trusted_application %>
<%- include ../templates/./applications/./_pep_proxy_row %>
<%- include ../templates/./applications/./_iot_row %>
<%- include ../templates/./applications/./_application_row %>
<%- include ../templates/./applications/./_trusted_application_row %>
<%- include ../templates/./applications/./_available_application_row %>
<%- include ../templates/./users/./_available_user_row %>
<%- include ../templates/./users/./_assign_role_user_row %>
<%- include ../templates/./users/./_user_row %>
<%- include ../templates/./other/./_info_message %>
<%- include ../templates/./organizations/./_organization_row %>
<%- include ../templates/./organizations/./_assign_role_organization_row %>
<%- include ../templates/./organizations/./_available_organization_row %>

<div class="messages"></div>
<script src="/javascripts/users/search_available_users.js" type="text/javascript"></script>
<script src="/javascripts/applications/search_available_applications.js" type="text/javascript"></script>
<script src="/javascripts/organizations/search_available_organizations.js" type="text/javascript"></script>
<script src="/javascripts/applications/handle_iot.js" type="text/javascript"></script>
<script src="/javascripts/applications/handle_pep_proxy.js" type="text/javascript"></script>
<script src="/javascripts/applications/handle_get_authorized_users.js" type="text/javascript"></script>
<script src="/javascripts/applications/handle_get_authorized_organizations.js" type="text/javascript"></script>
<script src="/javascripts/applications/handle_authorize_users.js" type="text/javascript"></script>
<script src="/javascripts/applications/handle_authorize_organizations.js" type="text/javascript"></script>
<script src="/javascripts/applications/handle_get_trusted_applications.js" type="text/javascript"></script>
<script src="/javascripts/applications/handle_add_trusted_applications.js" type="text/javascript"></script>
<script src="/javascripts/applications/handle_token_types.js" type="text/javascript"></script>

<script type="text/javascript">
    $('.panel-title a:first-child').mouseover(function(){
        $(this).children().toggleClass('fa-rotate-180');
    });
    $('.panel-title a:first-child').mouseleave(function(){
        if ($(this).hasClass('collapsed')){
            $(this).children().removeClass('fa-rotate-180');
        } else {
            $(this).children().addClass('fa-rotate-180');
        }
    });
    $('.panel-title a:first-child').click(function(){
        if ($(this).hasClass('collapsed')){
            $(this).children().addClass('fa-rotate-180');
        } else {
            $(this).children().removeClass('fa-rotate-180');
        }
    });
</script>

<script type="text/javascript">
    $(function () {
        $('[data-toggle="popover"]').popover({html:true});
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
