<style type="text/css">
    .eidas {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .eidas_input {
        width: 48%;
        justify-content: space-between;
        margin-bottom: 8px;
    }

    .eidas_input_company {
        flex: 0 0 100%;
        margin-bottom: 8px;   
    }
</style>

<div id="content_body">

    <div id="create_application_modal" class="static_page">
        <div class="modal-header">
            <h3>
                <div class="steps-group">
                    <div class="step active">1</div>
                    <div class="step">2</div>
                    <div class="step">3</div>
                    <div class="line"></div>
                </div>
            </h3><h3 class="step-title">eIDAs Information</h3>
        </div>

        <form id="" ng-controller="DummyCtrl" name="" autocomplete="" class="ng-scope ng-pristine ng-valid" action="/idm/applications/<%= application.id %>/step/eidas" method="POST" enctype="">
            <input type='hidden' name='_csrf' value='<%= csrfToken%>' />
            <div class="modal-body clearfix">

                <fieldset>

                <div class="form-group required eidas">
                    <label class="control-label required" style="border-bottom: 1px solid #B6B6B6; margin-bottom: 8px;">Contact Person</label>
                    <div class="eidas_input">
                        <label class="control-label required" for="id_contact_person_name">Name</label>
                        <div class="">
                            <input class="form-control" id="id_contact_person_name" name="eidas[contact_person_name]" type="text" value="<%= eidas_credentials.contact_person_name %>">
                        </div>
                        <% if (errors.indexOf("contact_person_name") != -1) { %>
                            <span class="help-block alert alert-danger ">Input required.</span>
                        <% } %>
                    </div>
                    

                    <div class="eidas_input">
                        <label class="control-label required" for="id_contact_person_surname">Surname</label>
                        <div class="">
                            <input class="form-control" id="id_contact_person_surname" name="eidas[contact_person_surname]" type="text" value="<%= eidas_credentials.contact_person_surname %>">
                        </div>
                        <% if (errors.indexOf("contact_person_surname") != -1) { %>
                            <span class="help-block alert alert-danger ">Input required.</span>
                        <% } %>
                    </div>
                    

                    <div class="eidas_input">
                        <label class="control-label required" for="id_contact_person_email">Email</label>
                        <div class="">
                            <input class="form-control" id="id_contact_person_email" name="eidas[contact_person_email]" type="text" value="<%= eidas_credentials.contact_person_email %>">
                        </div>
                        <% if (errors.indexOf("contact_person_email") != -1) { %>
                            <span class="help-block alert alert-danger ">Input required.</span>
                        <% } %>
                    </div>
                    

                    <div class="eidas_input">
                        <label class="control-label required" for="id_contact_person_number">Telephone Number</label>
                        <div class="">
                            <input class="form-control" id="id_contact_person_number" name="eidas[contact_person_telephone_number]" type="text" value="<%= eidas_credentials.contact_person_telephone_number %>">
                        </div>
                        <% if (errors.indexOf("contact_person_telephone_number") != -1) { %>
                            <span class="help-block alert alert-danger ">Input required.</span>
                        <% } %>
                    </div>
                    

                    <div class="eidas_input_company">
                        <label class="control-label required" for="id_contact_person_company">Company</label>
                        <div class="">
                            <input class="form-control" id="id_contact_person_company" name="eidas[contact_person_company]" type="text" value="<%= eidas_credentials.contact_person_company %>">
                        </div>
                        <% if (errors.indexOf("contact_person_company") != -1) { %>
                            <span class="help-block alert alert-danger ">Input required.</span>
                        <% } %>
                    </div>
                    

                </div>

                <div class="form-group required eidas">
                    <label class="control-label required" style="border-bottom: 1px solid #B6B6B6; margin-bottom: 8px;">Organization</label>
                    <div class="eidas_input">
                        <label class="control-label required" for="id_company">Name</label>
                        <div class="">
                            <input class="form-control" id="id_company" name="eidas[organization_name]" type="text" value="<%= eidas_credentials.organization_name %>">
                        </div>
                        <% if (errors.indexOf("organization_name") != -1) { %>
                            <span class="help-block alert alert-danger ">Input required.</span>
                        <% } %>
                    </div>


                    <div class="eidas_input">
                        <label class="control-label required" for="id_company">Url</label>
                        <div class="">
                            <input class="form-control" id="id_company" name="eidas[organization_url]" type="text" value="<%= eidas_credentials.organization_url %>">
                        </div>
                        <% if (errors.indexOf("organization_url") != -1) { %>
                            <span class="help-block alert alert-danger ">Input required.</span>
                        <% } %>
                    </div>


                </div>

            </fieldset>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Next</button>
        </div>
    </form>

</div>

</div>

<script type="text/javascript">
    $(function () {
        $('[data-toggle="popover"]').popover({html:true});
        //$('[data-toggle="tooltip"]').tooltip();

    });
</script>
