<div id="content_body">
    <div id="detailApplication">
        <header>
          <div class="page-header">
		<h2>
			Aplicaciones de <%=user.username%>

		</h2>
	</div>
        </header>
        <% for (var i = 0; i < applications.length; i++) { %>
        <div class="panel panel-default info">
            <div class="panel-body">
              <div class="panel-body datatable-content">
                <h1 class="panel heading"><%=applications[i].name%></h1>

                <div class="avatar logo">
                  <img alt="application logo" src=<%=applications[i].image%>>
                </div><br>

                  <h4>Website: <%=applications[i].url%></h4>
                  <h4>Fecha de acceso: <%=applications[i].login_date%></h4>
                  <h4>Atributos compartidos: <%=applications[i].shared_attributes%></h4>


              </div>
            </div>
        </div>
        <%}-%>

    </div>
</div>
