<div id="content_body">
    <div id="detailApplication">
        <header>
          <div class="page-header">
		<h2>
			Aplicaciones de <%=user.username%>

		</h2>
	</div>
        </header>
        <% if (applications.length > 0) {%>
          <% for (var i = 0; i < applications.length; i++) { %>
            <div class="panel panel-default info">
              <div class="panel-body">
                <div class="panel-body datatable-content">

                  <h1 class="panel heading"><%=applications[i].name%></h1>
                  <div class="avatar logo">
                    <img alt="application logo" src=<%=applications[i].image%>>
                  </div><br>
                  <div class="">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" href="#collapse_website<%=[i]%>" aria-expanded="true" aria-controls="collapse_oauth2_credentials" class="collapsed">
                              Website <i class="fa fa-angle-up"></i>
                          </a>
                      </h4>
                      <div class="collapse_out">
                          <div id="collapse_website<%=[i]%>" class="form-group collapse" role="tabpanel">
                              <div>
                                <h6 class="panel-heading"><%= applications[i].url%></h6>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" href="#collapse_login_date<%=[i]%>" aria-expanded="true" aria-controls="collapse_oauth2_credentials" class="collapsed">
                              Fecha de acceso <i class="fa fa-angle-up"></i>
                          </a>
                      </h4>
                      <div class="collapse_out">
                          <div id="collapse_login_date<%=[i]%>" class="form-group collapse" role="tabpanel">
                              <div>
                                <h6 class="panel-heading"><%= applications[i].login_date%></h6>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" href="#collapse_shared_attributes<%=[i]%>" aria-expanded="true" aria-controls="collapse_oauth2_credentials" class="collapsed">
                              Atributos compartidos <i class="fa fa-angle-up"></i>
                          </a>
                      </h4>
                      <div class="collapse_out">
                          <div id="collapse_shared_attributes<%=[i]%>" class="form-group collapse" role="tabpanel">
                              <div>
                                <h6 class="panel-heading"><%= applications[i].shared_attributes%></h6>
                              </div>
                          </div>
                      </div>
                  </div>
                  <br>
                  <div class="btn-group">
                    <button id="delete_third_party_application" title="Delete application" class="btn btn-default btn-sm ajax-modal">
                      Delete
                    </button>
                    </div>
                  <div class="btn-group">
                    <a href="/idm/users/<%= user.id %>/_third_party_applications/delete/<%= applications[i].id %>" title="Delete" class="btn btn-primary btn-sm" id="user__delete_third_party_application">
                      Delete
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <%}%>
        <%} else { %>
          <div class="panel panel-default info">
            <div class="panel-body">
              <h2>No hay aplicaciones disponibles</h2>
            </div>
          </div>
          <%}-%>

    </div>
</div>

<%include _delete_third_party_application%>

<script type="text/javascript">
    $('.panel-title a:first-child').mouseover(function(){
        $(this).children().toggleClass('fa-rotate-180');
    });
    $('.panel-title a:first-child').mouseleave(function(){
        if ($(this).hasClass('collapsed')){
            $(this).children().removeClass('fa-rotate-180');
        } else {
            $(this).children().addClass('fa-rotate-180');
        }
    });
    $('.panel-title a:first-child').click(function(){
        if ($(this).hasClass('collapsed')){
            $(this).children().addClass('fa-rotate-180');
        } else {
            $(this).children().removeClass('fa-rotate-180');
        }
    });
</script>
