<div id="content_body">
    <div id="detailUser">
        <header>
            <h3 class="name">
                <%= user.username %>
                <% if (user.auth) { -%>
                    <a href="/idm/users/<%= user.id %>/edit" class="small"><i class="fa fa-edit"></i><span><%=translation.users.show_user.edit_btn%></span></a>
                <% } -%>
            </h3>
            <div class="logo">
                <img alt="user logo" src="<%= user.image %>">
            </div>
        </header>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="description">
                    <h5>
                        <%=translation.users.show_user.description_label%>
                    </h5>
                    <div class="info expander">
                        <% if (user.description) { -%>
                            <p>
                            <%  var lines = user.description.split(/\r\n|\r|\n/)%>
                            <% for (var i = 0; i < lines.length; i++) { -%>
                                <% if (lines[i].replace(/^\s+/, '').replace(/\s+$/, '') !== '') { -%>
                                    <%= lines[i] %>
                                    <br>
                                <% } -%>
                            <% } -%>
                            </p>
                        <% } else { -%>
                            <p class="n-avail"><%=translation.users.show_user.no_description%></p>
                        <% } -%>
                    </div>
                </div>
                <% if (user.website) { -%>
                    <div class="contact_us">
                        <h5>
                            <%=translation.users.show_user.website_label%>
                        </h5>
                        <div class="info">
                            <p><%= user.website %></p>
                        </div>
                    </div>
                <% } -%>
            </div>
        </div>
        <div class="panel panel-default datatable" id="auth_organizations" data-pagination-url="/filters/organizations" data-user_id="<%= user.id %>" data-pagination-pages="">
            <div class="panel-heading">
                <span class="title"><%=translation.users.show_user.organizations_title%></span>
                <div class="table_actions clearfix">
                    <div class="filter table_search client">
                        <input class="form-control" value="" type="text" name="organizations__filter__q" placeholder="<%=translation.users.show_user.placeholder_input%>">
                    </div>
                    <div id="spinner_organizations" class="filtering-spinner-inline" style="display: none;"><i class="fa fa-circle-o-notch fa-spin"></i></div>
                    <div class="btn-group">
                    </div>
                </div>
            </div>
            <div class="panel-body datatable-content">
                <div class="list-group" id="auth_organizations_content">
                    <p class="alert alert-info empty" style="display: none;"><%=translation.users.show_user.no_member_warning%></p>
                </div>
            </div>
            <div class="panel-footer">
                <nav id="auth_organizations_pagination_container"></nav>
            </div>
        </div>
        <div class="panel panel-default datatable" id="auth_applications" data-pagination-url="/filters/applications" data-user_id="<%= user.id %>" data-pagination-pages="">
            <div class="panel-heading">
                <span class="title"><%=translation.users.show_user.applications_title%></span>
                <div class="table_actions clearfix">
                    <div class="filter table_search client">
                        <input class="form-control" value="" type="text" name="applications__filter__q" placeholder="<%=translation.users.show_user.placeholder_input%>">
                    </div>
                    <div id="spinner_applications" class="filtering-spinner-inline" style="display: none;"><i class="fa fa-circle-o-notch fa-spin"></i></div>
                    <div class="btn-group">
                    </div>
                </div>
            </div>
            <div class="panel-body datatable-content">
                <div class="list-group" id="auth_applications_content">
                    <p class="alert alert-info empty" style="display: none;"><%=translation.users.show_user.no_authorized_warning%></p>
                </div>
            </div>

            <div class="panel-footer">
                <nav id="auth_applications_pagination_container"></nav>
            </div>
        </div>
    </div>
</div>

<%- include ../templates/./applications/./_application_row %>
<%- include ../templates/./organizations/./_organization_row %>

<script src="/javascripts/users/handle_get_applications.js" type="text/javascript"></script>
<script src="/javascripts/users/handle_get_organizations.js" type="text/javascript"></script>
