<!-- Template to create proxy row -->
<script type="text/x-custom-template" id="pep_proxy_template">
	<div class="row content_pep">
        <div class="col-md-8 user_pep">
            <h6 class="panel-heading">Application Id</h6>
            <p><%= application.id%></p>
        </div>
    </div>
    <div class="row content_pep">
        <div class="col-md-8 user_pep">
            <h6 class="panel-heading"><%=translation.templates.applications.pep_proxy_row.label01%></h6>
            <p>pep_id</p>
            <h6 class="panel-heading"><%=translation.templates.applications.pep_proxy_row.label02%></h6>
            <p>pep_password</p>
        </div>
        <div class="col-md-4 actions_pep">
            <br>
            <a href="/idm/applications/application_id/pep/pep_id/reset_password" class="btn btn-default reset_password"><%=translation.templates.applications.pep_proxy_row.reset_pep_btn%></a>
            <a href="/idm/applications/application_id/pep/pep_id/delete" class="btn btn-danger delete_pep">
                <i class="far fa-trash-alt"></i> <%=translation.templates.applications.pep_proxy_row.delete_pep_btn%>
            </a>
        </div>
    </div>
</script>